{% extends "base1.html" %}
{% load unit %}
{% load static %}
{% block title %}Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}
{% block content %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<!-- BEGIN CONTENT-->
	<section>
		<div class="section-header">
			<ol class="breadcrumb">
				<li><a href="/">Dashboard</a></li>
				<li class="active">My Units</li>
			</ol>
		</div>
		<div class="section-body">
			
				
					{% with unit=module.unit %}
					<h2>Unit: {{ unit.title }}</h2>
				
	
			
			<div class="row">
				<div class="col-lg-6">
					<div class="box box-bordered style-primary">
						<div class="box-head">
						<header><h4>Modules</h4></header>
						</div>

					<div class="slimScrollDiv style-white" style="position: relative; overflow: hidden; width: auto; height: 357px;">
						<div class="box-body height-8 scroll style-white" style="overflow: hidden; width: auto; height: 357px;">
							<p>Drag and drop to arrange the order of modules.</p>
							<ul id="modules" class="list-group list-unstyled">
								{% for m in unit.modules.all %}
									<li data-id="{{ m.id }}" {% if m == module %} class="list-group-item active"{% endif %} class="list-group-item">
									<a href="{% url "module_content_list" m.id %}">
										<h4 class="list-group-item-heading"><span>Module <span class="order">{{ m.order|add:1 }}</span>
									</span></h4>
									<p class="list-group-item-text">{{ m.title }}</p>
									
								</a>
							</li>
							{% empty %}
							<li>No modules yet.</li>
						{% endfor %}
					</ul>
					
					<p class="btn btn-primary"><a href="{% url "unit_module_update" unit.id %}">Edit modules</a></p>
					
					<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; border-radius: 7px; z-index: 99; right: 1px; height: 127.508px; display: block;"></div>
					<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="box box-bordered style-primary">
			<div class="box-head">
			<header><h4>Module {{ module.order|add:1 }}: {{ module.title }}</h4></header>
			<div class="tools">
			</div>
		</div>
		<div class="slimScrollDiv style-white" style="position: relative; overflow: hidden; width: auto; height: 357px;">
			<div class="box-body height-8 scroll style-white" style="overflow: hidden; width: auto; height: 357px;"><h3>Module contents:</h3>
				<div id="module-contents">
					{% for content in module.contents.all %}
						<div data-id="{{ content.id }}">
							{% with item=content.item %}
							<p>{{ item }} ({{ item|model_name }})</p>
							<a href="{% url "module_content_update" module.id item|model_name item.id %}" class="btn btn-primary" style="display: inline-block;width: 90px;">Edit</a>
							<form action="{% url "module_content_delete" content.id %}" method="post" style="display: inline-block;">
								<input type="submit" class="btn btn-primary " value="Delete">
								{% csrf_token %}
							</form>
						{% endwith %}
					</div>
					{% empty %}
					<p>This module has no contents yet.</p>
				{% endfor %}
			</div>
			
			<hr>
			<h3>Add new content:</h3>
			<ul class="content-types list-unstyled">
				<li><a href="{% url "module_content_create" module.id "text"%}">Text</a></li>
				<li><a href="{% url "module_content_create" module.id "image" %}">Image</a></li>
				<li><a href="{% url "module_content_create" module.id "video" %}">Video</a></li>
				<li><a href="{% url "module_content_create" module.id "file" %}">File</a></li>
				<li><a href="{% url "module_content_create" module.id "questions" %}">Questions</a></li>
				<li><a href="{% url "module_content_create" module.id "restrictedText" %}">Restricted Text</a></li>
				<li><a href="{% url "module_content_create" module.id "restrictedImage" %}">Restricted Image</a></li>
				<li><a href="{% url "module_content_create" module.id "restrictedVideo" %}">Restricted Video</a></li>
				<li><a href="{% url "module_content_create" module.id "restrictedFile" %}">Restricted File</a></li>
				<li><a href="{% url "module_content_create" module.id "restrictedAnswers" %}">Restricted Answers</a></li>
			</ul>
			<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; opacity: 0.4; border-radius: 7px; z-index: 99; right: 1px; top: 0px; height: 127.508px; display: block;"></div>
			<div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
		</div>
	</div>
</div>
</div>
</div>

</div>
</section>
{% endwith %}
<script type="text/javascript">
$('#modules').sortable({
	stop: function(event, ui) {
		modules_order = {};
	$('#modules').children().each(function(){
		// update the order field
		$(this).find('.order').text($(this).index() + 1);
		// associate the module's id with its order
		modules_order[$(this).data('id')] = $(this).index();
		});
$.ajax({
	type: 'POST',
	url: '{% url "module_order" %}',
	contentType: 'application/json; charset=utf-8',
	dataType: 'json',
	data: JSON.stringify(modules_order)
		});
	}
});
$('#module-contents').sortable({
	stop: function(event, ui) {
	contents_order = {};
	$('#module-contents').children().each(function(){
	// associate the module's id with its order
	contents_order[$(this).data('id')] = $(this).index();
	});
$.ajax({
	type: 'POST',
	url: '{% url "content_order" %}',
	contentType: 'application/json; charset=utf-8',
	dataType: 'json',
	data: JSON.stringify(contents_order),
	});
	}
});
</script>
<style type="text/css">
	
element.style {
overflow: hidden;
width: auto;
height: 257px;
}
.box .style-white, .box.style-white {
background-color: #ffffff;
border-color: #ffffff;
color: #333333;
}
.box-head {
position: relative;
line-height: 40px;
vertical-align: middle;
}
.box-head header {
display: inline-block;
padding: 11px 15px;
line-height: 17px;
margin-top: -4px;
vertical-align: middle;
}
.height-8, .size-8 {
height: 297px;
}
.box-body {
padding: 20px;
position: relative;
}
element.style {
overflow: hidden;
width: auto;
height: 257px;
}
.box, .style-white, .box.style-white {
background-color: #ffffff;
border-color: #ffffff;
color: #333333;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
z-index: 2;
color: #ffffff;
background-color: #50bebb;
border-color: #50bebb;
}
h2, h3 {
	margin-top: 0px;
}
</style>
{% endblock %}