{% extends "base1.html" %}
{% load static %}
{% block title %}Edit "{{ unit.title }}"
{% endblock %}
{% block content %}
	<style type="text/css">
	#cke_id_modules-0-description, #cke_id_modules-1-description, #cke_id_modules-2-description{
	width: 100% !important;
	overflow: hidden;
	}
	</style>
	<script src="{% static 'js/jquery.formset.js' %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
	<section style="padding: 0 24px 24px 24px">
		<div class="section-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-head card-head-sm style-primary">
						<header>Edit: {{ unit.title }}</header>
					</div>
					<div class="card-body">
						<h4>Add/Edit Unit Modules</h4>
						<form class="form" action="" method="post">
							{{ formset.management_form }}
							{{form.media}}
							{% csrf_token %}
							{% for form in formset %}
								{{ form.id}}
								<div class="form-group">
									<div class="form-group floating-label">
										{{form.title}}
										<label for="{{form.title.input}}">{{form.title.label_tag}}</label>
									</div>
									<div class="form-group floating-label">
										<label for="{{form.description.input}}">{{form.description.label_tag}}</label>
										<p></p>
										{{form.description}}
									</div>
									<div class="checkbox checkbox-styled">
										<label>
										{{form.DELETE}}
											<span>{{form.DELETE.label}}</span>										
										</label>
									</div>
								</div>
							{% endfor %}
							<input type="submit" class="btn btn-primary" value="Save modules">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}