{% extends "base1.html" %}
{% block title %}Submissions{% endblock %}
{% block content %}
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            {% if classroom %}
                <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
                <li><a href="{%url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
                <li><a href="{% url "assignment_list" classroom.id %}">Assignments</a></li>
                <li>Submissions</li>
            {% endif %}  
        </ol>
    </div>
    <div class="section-body">
        <div class="row">   
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head card-head-sm style-primary">
                        <header>Submissions - {{student.user}}</header>
                    </div>
                    <div class="card-body">   
                      <table style="font-size: 12px;" class="table table-condensed no-margin">
                      <thead>
                        <tr>
                           <th>Assignment</th>
                           <th>File(s)</th>
                           <th>View</th>
                           <th>Date Submitted</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for submission in assignment_submission_list %}   
                        <tr>
                           <td>{{submission.assignment}}</td>
                           {% if submission.files %}
                           <td style="width:30%">{% for file in submission.files.all %}{{file.filename}}<br>{% endfor %}</td>

                           <td style="width:20%">{% for file in submission.files.all %}
                            <a href="{{file.file.url}}" target="_blank" style="text-decoration: none" data-toggle="tooltip" data-placement="left" title="" data-original-title="Download" download><span class="title">&nbsp;&nbsp;&nbsp;<i class="fa fa-download" style="font-size:14px;vertical-align: middle;"></i></span></a>

                            <a href="{% url "file_annotate" submission.assignment.classroom.id file.id %}" style="text-decoration: none" target="_blank" title="View"><span class="title">&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link" style="font-size:13px;vertical-align: middle;"></i></span></a><br>{% endfor %}
                          </td>

                           <td>{% for file in submission.files.all %}{{file.submission_date}}<br>{% endfor %}</td>
                           {% endif %}
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                      </table>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->      
        </div>
    </div>  
</section>  
{% endblock %}
