{% extends "base1.html" %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active">My Classes</li>
        </ol>
    </div>
    <div class="section-body">
    	<div class="row"><!--start .row -->
			<!-- BEGIN CARD CONTENT -->
			<div class="col-sm-3">
		    {% for classroom in classes %}

				<div class="card " >	
					<a href="{% url 'class_detail' classroom.id %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-group" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					{{ classroom.title }}			
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>		
			
			{% endfor %}
					<div class="card">				
					<a href="javascript:void(0);" data-toggle="modal" data-target="#addClass" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-plus card-add"></i>
					<div style="height:10px;"></div>
					Join a Class
					<div style="height:14px;"></div>
					</div>
					</a>
					<!-- BEGIN WIDGET ADD CLASS -->
                    <div class="modal fade" id="addClass" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
							<div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="formModalLabel">Join a Class</h4>
                                </div>                               
                                <div class="modal-body">
                                	<form id="join-class-form" submit-url="{% url 'join_class' %}" success-url="{% url 'student_dashboard' %}" action="." method="post" class="form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
									{% csrf_token %}
									<div class="alert alert-danger hidden" id="join-error">
			                			<strong>{{ error|escape }}</strong>
			            			</div>
			                        <div class="form-group floating-label">
			                            <input type="text" name="class_code"  maxlength="30" id="id_class_code" class="form-control" required>
			                            <label for="id_class_code">Class Code</label>
			                        </div>
								</div>
                                <div class="modal-footer">
                                    <div class="cansub">
							  			<input type="submit" id="cancel" data-dismiss="modal" name="cancel" value="Cancel" class="btn-font btn-flat btn-default ink-reaction">
							  			<input id="cansub_main" type="submit" action="" value="Join" class="btn-font btn-flat btn-default ink-reaction">
						  			</div>
							  		
                                </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <!-- END WIDGET ADD CLASS -->
				</div>	
			</div>
			<!-- BEGIN CALENDAR -->
			<div class="col-sm-9">
				<div class="card">
					<div class="card-head style-primary">
						<header>
							<span class="selected-day">&nbsp;</span> &nbsp;	<small class="selected-date">&nbsp;</small>
						</header>
						<div class="tools">
							<div class="btn-group">
								<a id="calender-today" class="btn btn-flat ink-reaction">Today</a>
								<a id="calender-prev" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-angle-left"></i></a>
								<a id="calender-next" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-angle-right"></i></a>
							</div>
						</div>
						<ul class="nav nav-tabs tabs-text-contrast tabs-accent" data-toggle="tabs">
							<li data-mode="month" class="active"><a href="#">Month</a></li>
							<li data-mode="agendaWeek"><a href="#">Week</a></li>
							<li data-mode="agendaDay"><a href="#">Day</a></li>
						</ul>
					</div><!--end .card-head -->
					<div class="card-body no-padding">
						<div id="calendar"></div>
					</div>
				</div>
			</div>
			<!-- END CALENDAR -->	
		</div><!--end .col -->
			
	</div>
</section>

<script src="{% static "/js/jquery-1.11.2.min.js" %}"></script>
<script>

    $(document).ready(function() {
        $('#calendar').fullCalendar({
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for class in classes.all %}
                {% for assignment in class.assignments.all %}
               
                {
                    title: "{{ assignment.title }}",
                    start: "{{ assignment.due_date|date:"Y-m-d" }}",
                    url: "{% url 'assignment_detail' assignment.id %}"

                },
                {% endfor %}
                {% endfor %}

            ]
        });

    });

</script>

<script type="text/javascript">
   // Script to handle join-class form submit
$(document).ready(function(){
    var $myForm = $('#join-class-form');
    $myForm.submit(function(event){
        event.preventDefault();
        $('#join-error').empty();
        console.log('form sent');
        var $formData = $(this).serialize();
        var $thisURL = $myForm.attr('submit-url');
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormResponse,
            error: handleFormError,
        })
    })

    function handleFormResponse(data, textStatus, jqXHR){
    	if (data['error']){
    	$('#join-error').removeClass('hidden').append(data['error']);
    	}
    	else{
    		window.location.replace($myForm.attr('success-url'));
    	}
}

    function handleFormError(jqXHR, textStatus, errorThrown){
    	json = jqXHR['responseText'];
    	JSON.parse(json, (key, value) => {
    	$('#join-error').removeClass('hidden').append(value);
	    	});
    }

    $( "#cancel" ).click(function() {
	  $('#join-error').empty();
	  $('#join-error').addClass('hidden');
	  $('#join-class-form').trigger("reset");
	});
})	

</script>
{% endblock %}


