{% extends "base1.html" %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<section>
{% with subject=unit.subject %}
<h1>
{{ object.title }}
</h1>
<div class="module">
	<h2>Overview</h2>
	<p>
	<a href="{% url "unit_list_subject" subject.slug %}">{{ subject.title }}</a>.
	{{ unit.modules.count }} modules.
	Instructor: {{ unit.owner.get_full_name }}
	</p>
	{{ object.overview|linebreaks }}
	{% if request.user.is_authenticated %}
	<form action="{% url "teacher_enroll_unit" %}" method="post">
	{{ enroll_form }}
	{% csrf_token %}
	<input type="submit" class="button" value="Enroll now">
	</form>
		{% else %}
		<a href="{% url "teacher_registration" %}" class="button">Register to enroll</a>
	{% endif %}

</div>
{% endwith %}
</section>
{% endblock %}
