{% extends "base1.html" %}

{% block title %}
{% if subject %}
{{ subject.title }} units
{% else %}
All units
{% endif %}
{% endblock %}

{% block content %}
<section>
<h1>
{% if subject %}
{{ subject.title }} units
{% else %}
All units
{% endif %}
</h1>
<div class="contents">
	<h3>Subjects</h3>
	<ul id="modules">
		<li {% if not subject %}class="selected"{% endif %}>
		<a href="{% url "unit_list" %}">All</a>
		</li>
		{% for s in subjects %}
		<li {% if subject == s %}class="selected"{% endif %}>
		<a href="{% url "unit_list_subject" s.slug %}">
		{{ s.title }}
		<br><span>{{ s.total_units }} units</span>
		</a>
		</li>
		{% endfor %}
	</ul>
</div>

<div class="module">
	{% for unit in units %}
	{% with subject=unit.subject %}
	<h3><a href="{% url "unit_detail" unit.slug %}">{{ unit.title }}</a></h3>
	<p>
	<a href="{% url "unit_list_subject" subject.slug %}">{{ subject }}</a>.
		{{ unit.total_modules }} modules.
		Instructor: {{ unit.owner.get_full_name }}
	</p>
	{% endwith %}
	{% endfor %}
</div>
</section>
{% endblock %}
