{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>EngageCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Computer Science">
    <meta name="description" content="EngageCS - K-12 Computer Science Curriculum">
       <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/eico.png" %}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,500,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{% static "js/jquery.min_type.js" %}"></script>
    <link href="{% static "css/bootstrap.min.css" %}" ref="stylesheet">
    <link href="{% static "css/tstyle.css" %}" rel="stylesheet">
    <link href="{% static "css/basep.css" %}" rel="stylesheet">
    <link href="{% static "css/material-design.css" %}" rel="stylesheet">
    <link href="{% static "css/fullcalendar.css" %}" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
    <!--Typed-->
    <script src="{% static "js/typed.js" %}" type="text/javascript"></script>
    <script>
    $(function(){
        $("#typed").typed({
            stringsElement: $('#typed-strings'),
            typeSpeed: 40,
            backDelay: 600,
            loop: false,
            contentType: 'html',
            loopCount: false,
            callback: function(){ foo(); },
            resetCallback: function() { newTyped(); }
        });
        $(".reset").click(function(){
            $("#typed").typed('reset');
        });
    });
    function newTyped(){ /* A new typed object */ }
    function foo(){ console.log("Callback"); }
    </script>
    <!--Typed-->
</head>
<body class="body_bg">
	<!--Start of block content-->
	<div>
	{% block content %}
	{% endblock %}
	</div>
<script>
	$(".signup-form").hide();
	$(".reset-form").hide();
	$(".join-form").hide();		
	$(".signup").click(function(){
	  $(".login-form").hide();
	  $(".reset-form").hide();
	  $(".join-form").hide();	
	  $(".signup-form").show();
	});
	$(".join").click(function(){
	  $(".login-form").hide();
	  $(".reset-form").hide();
	  $(".signup-form").hide();	
	  $(".join-form").show();
	});
	$(".login").click(function(){
	  $(".login-form").show();
	  $(".signup-form").hide();
	  $(".reset-form").hide();
	  $(".join-form").hide();			  
	});
	$(".reset-pwd").click(function(){
	  $(".login-form").hide();
	  $(".signup-form").hide();
	  $(".join-form").hide();	
	  $(".reset-form").show();
	});
	$(".btn").click(function(){
	  $(".input").val("");
	});
</script>
<script>
	$('.btn').on('click', function () {
	    $('.form').addClass('form--no');
	});
</script>
	<!-- set up AJAX function in Django -->
	<script>
	// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
<!-- Script to handle student register on mainpage.html -->
<script>
	$(document).ready(function(){
    var $myForm = $('#student-register-form');
    $myForm.submit(function(event){
        event.preventDefault();
        $('#register-error').empty();
        console.log('form sent');
        var $formData = $(this).serialize();
        var $thisURL = $myForm.attr('submit-url');
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormResponse,
            error: handleFormError,
        })
    })

    function handleFormResponse(data, textStatus, jqXHR){
    	if (data['error']){
    	$('#register-error').removeClass('hidden').append(data['error']);
    	}
    	else{
    		window.location.replace($myForm.attr('success-url'));
    	}
}

    function handleFormError(jqXHR, textStatus, errorThrown){
    	json = jqXHR['responseText'];
    	JSON.parse(json, (key, value) => {
    	$('#register-error').removeClass('hidden').append(value);
	    	});
    }
})
   // Script to handle join-class form submit
$(document).ready(function(){
    var $myForm = $('#join-class-form');
    $myForm.submit(function(event){
        event.preventDefault();
        $('#join-error').empty();
        console.log('form sent');
        var $formData = $(this).serialize();
        var $thisURL = $myForm.attr('submit-url');
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormResponse,
            error: handleFormError,
        })
    })

    function handleFormResponse(data, textStatus, jqXHR){
    	if (data['error']){
    	$('#join-error').removeClass('hidden').append(data['error']);
    	}
    	else{
    		window.location.replace($myForm.attr('success-url'));
    	}
}

    function handleFormError(jqXHR, textStatus, errorThrown){
    	json = jqXHR['responseText'];
    	JSON.parse(json, (key, value) => {
    	$('#join-error').removeClass('hidden').append(value);
	    	});
    }
})

</script>
<script src="{% static "js/bootstrap3.min.js" %}"></script>
<script src="{% static "js/core.js" %}"></script>
<script src="{% static "js/demo.js" %}"></script>
<script src="{% static "js/spin.min.js" %}"></script>
<script src="{% static "js/jquery.autosize.min.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/jquery.nanoscroller.min.js" %}"></script>
<script src="{% static "js/fullcalendar.js" %}"></script>
<script src="{% static "js/DemoCalendar.js" %}"></script>