{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>EngageCS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Computer Science">
    <meta name="description" content="EngageCS - K-12 Computer Science Curriculum">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/eico.png" %}">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,500,700' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static "css/bootstrap.min.css" %}" ref="stylesheet">
    <link href="{% static "css/tstyle.css" %}" rel="stylesheet">
    <link href="{% static "css/basep.css" %}" rel="stylesheet">
    <link href="{% static "css/material-design.css" %}" rel="stylesheet">
    <link href="{% static "css/fullcalendar.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/multi-select.css" %}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
</head>
<body class="menubar-hoverable header-fixed menubar-pin full-content">        
    <header id="header">
        <div class="headerbar">          
            <div class="headerbar-left">
                <ul class="header-nav header-nav-options">
                    <li class="header-nav-brand" >
                        <div class="brand-holder">
                            <a href="/">
                                <span class="text-lg text-bold text-primary"><img src="{% static "images/engcs.png" %}"></span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="headerbar-right" >
                <ul class="header-nav header-nav-options">
                    <li>
                        <form class="navbar-search" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
                            </div>
                            <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                            <i class="fa fa-bell"></i><sup class="badge style-danger">{{postman_unread_count}}</sup>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            <li class="dropdown-header">Recent messages</li>

                            {% for message in pm_messages.all|slice:"0:3" %}
                            <li>
                                <a class="{% if forloop.counter|divisibleby:2 %}alert alert-callout alert-warning{% else %}alert alert-callout alert-info{% endif %}" href="{% url 'postman:view' message.pk %}">
                                    <img class="pull-right img-circle dropdown-avatar" src="{{message.sender.profile.photo.url}}" alt="" />
                                    <strong>{{message.sender.first_name}} {{message.sender.last_name}}</strong><br/>
                                    <small>{{message.subject}}...</small>
                                </a>
                            </li>
                            <li>
                            {% endfor %}


                            <li class="dropdown-header">Options</li>
                            <li><a href="{% url "postman:write" %}">Send a message <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
                            <li><a href="{% url "postman:inbox" %}">View all messages <span class="pull-right"><i class="fa fa-arrow-right"></i></span></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="header-nav header-nav-profile">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                            <img src="{{request.user.profile.photo.url}}" alt="" />
                            <span class="profile-info">
                                {{request.user.first_name}} {{request.user.last_name}}
                                {% if request.user.is_teacher %}
                                <small>Instructor</small>
                                {% endif %}
                                {% if request.user.is_student %}
                                 <small>Student</small>
                                {% endif %}
                            </span>
                        </a>
                        <ul class="dropdown-menu animation-dock">
                            <li><a href="{% url "update_user" %}">My profile</a></li>
                            <li><a href="{% url "logout" %}">Logout</a></li>
                        </ul><!--end .dropdown-menu -->
                    </li><!--end .dropdown -->
                </ul><!--end .header-nav-profile -->
            </div>
            <!--end #header-navbar-collapse -->
        </div>
    </header>
    <!-- START BASE-->
    <div id="base">
        <div id="content">
            <!-- BEGIN BLANK SECTION -->
            {% block content %}
            {% endblock %}
            <!-- END BLANK SECTION -->
        </div>       
        <div id="menubar" class="menubar-inverse ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <a href="/">
                        <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                    </a>
                </div>
            </div>
            <div class="menubar-scroll-panel">
            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">
            <!-- BEGIN DASHBOARD -->
            <li>
                <a href="/" class="active">
                    <div class="gui-icon"><i class="fa fa-home"></i></div>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <!-- END DASHBOARD -->
            <!-- BEGIN UI -->
            {% if request.user.is_teacher %}
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-group"></i></div>
                    <span class="title">My Classes</span>
                </a>
                <!--start submenu -->
                <ul>
                    {% for classroom in teacher.classrooms.all %}
                    <li><a href="{%url 'class_detail' classroom.id %}" ><span class="title">{{classroom.title}}</span></a></li>
                    {%endfor%}
                </ul><!--end /submenu -->
            </li><!--end /menu-li -->
            {% endif %}
            {% if request.user.is_student %}
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-group"></i></div>
                    <span class="title">My Classes</span>
                </a>
                <!--start submenu -->
                <ul>
                    {% for classroom in student.classrooms.all %}
                    <li><a href="{%url 'class_detail' classroom.id %}" ><span class="title">{{classroom.title}}</span></a></li>
                    {%endfor%}
                </ul><!--end /submenu -->
            </li><!--end /menu-li -->
            {% endif %}
            <!-- END UI -->
            <!-- BEGIN WIDGET ADD CLASS -->
            <div class="modal fade" id="addClass1" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="formModalLabel">Add Class</h4>
                        </div>                               
                        <div class="modal-body">

                            <form class="class_create_form" action="{% url 'create_class' %}" method="post">
                            {{ class_create_form.as_p }}
                            {% csrf_token %}

                            <div class="checkbox checkbox-styled">
                                <label>
                                    <input type="checkbox" value="" checked>
                                    <span>My Classes</span>
                                </label>
                            </div>
                            <div class="checkbox checkbox-styled">
                                <label>
                                    <input type="checkbox" value="" checked>
                                    <span>My Units</span>
                                </label>
                            </div>
                            <div class="checkbox checkbox-styled">
                                <label>
                                    <input type="checkbox" value="">
                                    <span>My Messages</span>
                                </label>
                            </div>
                        
                        <div class="modal-footer">
                            <button type="submit" class="btncus btncusl" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btncus btncusr">Create</button>
                        </div>
                        </form>
                    </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <!-- END WIDGET ADD CLASS -->
            <!-- BEGIN UI -->
            {% if request.user.is_teacher %}
            <li class="gui-folder"><!--start /menu-li -->
                <a>
                    <div class="gui-icon"><i class="fa fa-cube"></i></div>
                    <span class="title">My Units</span>
                </a>
                <!--start submenu -->
                <ul>
                    
                    {%for unit in teacher.units.all%}
                    <li class="gui-folder"><a href="javascript:void(0);"><span class="title">{{unit.title}}</span></a>          
                        <!--start submenu -->
                        <ul>
                            {% for m in unit.modules.all %}
                            <li data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
                            <a href="{% url "teacher_unit_detail_module" unit.id m.id %}"><span class="title">{{ m.title }}</span></a></li>
                            {% empty %}
                            <li><a href="" ><span class="title">No modules yet</span></a></li>
                            {% endfor %}
                        </ul><!--end /submenu -->
                        </li><!--end /menu-li -->
                    {%endfor%}

                </ul>
                <!--end /submenu -->
            </li><!--end /menu-li -->
            {% endif %}
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-envelope"></i></div>
                    <span class="title">My Messages</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li class="selected"><a href="{% url "postman:inbox" %}" ><span class="title">Inbox</span></a></li>

                    <li><a href="{% url "postman:write" %}"><span class="title">Compose</span></a></li>
                    <li class="selected"><a href="{% url "postman:archives" %}" ><span class="title">Archives</span></a></li>

                    <li><a href="{% url "postman:trash" %}"><span class="title">Trash</span></a></li>
                </ul><!--end /submenu -->
            </li>
            {% if request.user.is_staff %}
            <li class="gui-folder"><!--start /menu-li -->
                <a href="{% url 'teacher_registration' %}">
                    <div class="gui-icon"><i class="fa fa-user-plus"></i></div>
                    <span class="title">Add Teacher</span>
                </a>
            </li><!--end /menu-li -->
            <li class="gui-folder"><!--start /menu-li -->
                <a href="{% url 'manage_unit_list' %}">
                    <div class="gui-icon"><i class="fa fa-tasks"></i></div>
                    <span class="title">Manage Units</span>
                </a>
            </li><!--end /menu-li -->
            <li class="gui-folder"><!--start /menu-li -->
                <a href="{% url 'unit_create' %}">
                    <div class="gui-icon"><i class="fa fa-plus"></i></div>
                    <span class="title">Create Unit</span>
                </a>
            </li><!--end /menu-li -->
            {% endif %}
            </ul>
                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        EngageCS &copy; 2018. Privacy Policy
                    </small>
                </div>
            </div><!--end .menubar-scroll-panel-->
        </div>
    </div>
    <!-- END BASE-->
<script>
    var clipboard = new Clipboard('.copy-letter-button');

    clipboard.on('success', function(e) {
    console.log(e);
    });

    clipboard.on('error', function(e) {
    console.log(e);
    });

</script>
<script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script src="{% static "js/jquery-migrate-1.2.1.min.js" %}"></script>
<script src="{% static "js/bootstrap3.min.js" %}"></script>
<script src="{% static "js/core.js" %}"></script>
<script src="{% static "js/demo.js" %}"></script>
<script src="{% static "js/spin.min.js" %}"></script>
<script src="{% static "js/jquery.autosize.min.js" %}"></script>
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/jquery.nanoscroller.min.js" %}"></script>
<script src="{% static "js/fullcalendar.js" %}"></script>
<script src="{% static "js/DemoCalendar.js" %}"></script>
<script src="{% static "js/jquery.multi-select.js" %}"></script>
<script type="text/javascript">
  // run pre selected options
  $('#id_units').multiSelect();
</script>
<script type="text/javascript">
  // run pre selected options
  $('#id_students').multiSelect();
</script>
<script>
    $(document).ready(function() {
    {% block domready %}
        $('.fc-toolbar').remove();
    {% endblock %}
    });
</script>

<script>
    // using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>
</body>
</html>