{% extends "base1.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
    <h1>Change you password</h1>
    <p>Use the form below to change your password.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Change"></p>
        <p><input type="submit" name="cancel" action="{% url 'change_password' %}" value="Cancel" /></p>
        {% csrf_token %}
    </form>
{% endblock %}
