{% extends "base2.html" %}
{% load static %}
{% block title %}My Profile{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active">My Profile</li>
        </ol>
    </div>
    <div class="section-body">
        <div class="card">
            <!-- BEGIN CONTACT DETAILS HEADER -->
            <div class="card-head card-head-sm style-primary">
                <div class="tools pull-left">
                   
                </div><!--end .tools -->
                <div class="tools">
                    <a class="btn btn-flat hidden-xs" href="/"><span class="fa fa-arrow-left"></span> &nbsp;Back</a>
                </div><!--end .tools -->
            </div><!--end .card-head -->
            <!-- END CONTACT DETAILS HEADER -->

            <!-- BEGIN CONTACT DETAILS -->
            <div class="card-tiles">
                <div class="hbox-md col-md-12">
                    <div class="hbox-column col-md-9">
                        <div class="row">
                            <!-- BEGIN CONTACTS MAIN CONTENT -->
                            <div class="col-sm-7 col-md-8 col-lg-12">
                                 <form action="" method="post" class="form profile-upload-form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
                                {% csrf_token %}
                                <div class="margin-bottom-xxl">
                                    <div class="pull-left width-2 clearfix hidden-xs" style="margin-right:17px">
                                    <label class="input-group-btn">
                                        <div class='edit_hover_class'>
                                            <a href="javascript:void(0);" data-toggle="modal" data-target="#upPhoto" style="text-decoration: none"><img class="img-circle size-2" src="{{request.user.profile.photo.url}}" alt="" />
                                            <!--<input type="file" id="photo_id" name="photo" accept="image/*" style="display: none;">-->
                                            <i class="fa fa-edit"></i></a>
                                        </div>
                                    </label>
                                    </div>
                                    <h1 class="text-light no-margin" style="padding-top:7px">{{request.user.first_name}} {{request.user.last_name}}</h1>
                                    {% if request.user.is_teacher %}
                                    <h5>
                                        Instructor
                                    </h5>
                                    {% elif request.user.is_student %}
                                    <h5>
                                        Student
                                    </h5>                                    
                                    {% elif reques.user.is_staff %}
                                    <h5>
                                        Staff
                                    </h5>                                    
                                    {% endif %}
                                </div><!--end .margin-bottom-xxl -->      
                                <div class="form-group floating-label">
                                    <input type="text" name="first_name" maxlength="30" id="id_first_name" class="form-control" id="regular2" value="{{request.user.first_name}}" required>
                                    <label for="regular2" >First Name</label>
                                </div>
                                <div class="form-group floating-label">
                                    <input type="text" name="last_name"  maxlength="30" id="id_last_name" class="form-control" id="regular2" value="{{request.user.last_name}}" required>
                                    <label for="regular2">Last Name</label>
                                </div>                            
                                <div class="form-group">
                                    <input type="submit" name="cancel" value="Cancel" class="btncus btncusl">
                                    <input type="submit" value="Update" class="btncus btncusr">
                                </div>
                                <br><br>
                                <h6 class="no-margin"> Click <a href="{% url "password_change" %}" style="color: #50bebb">here</a> to change your password </h6>
                                
                            </div><!--end .col -->
                            <!-- END CONTACTS MAIN CONTENT -->
                        </div><!--end .row -->
                    </div><!--end .hbox-column -->
                    <!-- BEGIN CLASS ADD MODAL -->
                    <div class="modal fade" id="upPhoto" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="formModalLabel">Update Profile Photo</h4>
                                </div>                               
                                <div class="modal-body">
                                    <!-- Start of Cropper -->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="white-box">
                                                <div class="row">
                                                    <!-- .Your image -->
                                                    <div class="col-md-12 p-20">
                                                        <div class="img-container" style="width:568px!important;height:200px!important"><img id="image" src="{{request.user.profile.photo.url}}" class="img-responsive" alt="Picture" style="width:100%!important"></div>
                                                    </div>
                                                    <!-- /.Your image -->
                                                    <!-- .Croping image -->
                                                   
                                        
                                                    <!-- /.Croping of image -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:12px"></div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="white-box">
                                                <div class="row">
                                                    <div class="col-md-12 docs-buttons">
                                                        <!-- .btn groups -->
                                                        <div class="btn-group">
                                                            <label class="btn btn-default btn-outline btn-upload" for="inputImage" title="Upload image file" style="width: 109px">
                                                                <input type="file" class="sr-only" id="inputImage" name="photo" accept="image/*" style="max-width: 100%;"> <span class="docs-tooltip" data-toggle="tooltip" title="Upload Image"> Browse...
                                                            </label>
                                                        </div>
                                                        {{profile_form.x }}
                                                        {{profile_form.y }}
                                                        {{profile_form.width }}
                                                        {{profile_form.height }}
                                                        {{profile_form.rotate }}
                                                        {{profile_form.scaleX }}
                                                        {{profile_form.scaleY }}
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default" data-method="setDragMode" data-option="move" title="Move"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)"> <span class="fa fa-arrows"></span> </span>
                                                            </button>
                                                            <button type="button" class="btn btn-default" data-method="setDragMode" data-option="crop" title="Crop"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setDragMode&quot;, &quot;crop&quot;)"> <span class="fa fa-crop"></span> </span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default" data-method="zoom" data-option="0.1" title="Zoom In"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, 0.1)"> <span class="fa fa-search-plus"></span> </span>
                                                            </button>
                                                            <button type="button" class="btn btn-default" data-method="zoom" data-option="-0.1" title="Zoom Out"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;zoom&quot;, -0.1)"> <span class="fa fa-search-minus"></span> </span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default btn-outline" data-method="move" data-option="-10" data-second-option="0" title="Move Left"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, -10, 0)"> <span class="fa fa-arrow-left"></span> </span>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-outline" data-method="move" data-option="10" data-second-option="0" title="Move Right"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 10, 0)"> <span class="fa fa-arrow-right"></span> </span>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-outline" data-method="move" data-option="0" data-second-option="-10" title="Move Up"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 0, -10)"> <span class="fa fa-arrow-up"></span> </span>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-outline" data-method="move" data-option="0" data-second-option="10" title="Move Down"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;move&quot;, 0, 10)"> <span class="fa fa-arrow-down"></span> </span>
                                                            </button>
                                                        </div>
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="-45" title="Rotate Left"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -45)"> <span class="fa fa-rotate-left"></span> </span>
                                                            </button>
                                                            <button type="button" class="btn btn-default btn-outline" data-method="rotate" data-option="45" title="Rotate Right"> <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 45)"> <span class="fa fa-rotate-right"></span> </span>
                                                            </button>
                                                        </div>
                                                        
                                                        
                                                        <!-- Show the cropped image in modal -->
                                                        <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    
                                                                    <div class="modal-body"></div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <a class="btn btn-primary" id="download" href="javascript:void(0);" download="cropped.jpg">Download</a> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal -->
                                                    </div><!-- /.btn groups -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Cropper -->   
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btncus btncusr crop" id="imageSubmit">Update</button>
                                    <button type="submit" class="btncus btncusl" data-dismiss="modal">Cancel</button>
                                </div>
                                {% csrf_token %}
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <!-- END CLASS ADD MODAL -->
                    <!-- BEGIN SKILLS DETAILS -->
                    <div class="hbox-column col-md-3 style-default-light">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Skills</h4>
                                <br/>
                                <strong>HTML</strong>
                                <span class="pull-right text-success text-sm">0,75% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-primary-dark" style="width:75%"></div>
                                </div>   
                                <strong>Assembly</strong>
                                <span class="pull-right text-danger text-sm">0,20% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-danger" style="width:20%"></div>
                                </div>                                
                                <strong>MySQL</strong>
                                <span class="pull-right text-success text-sm">0,80% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-primary-dark" style="width:80%"></div>
                                </div>      
                                <strong>Python</strong>
                                <span class="pull-right text-success text-sm">0,90% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-primary-dark" style="width:90%"></div>
                                </div>      
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </div>
                    <!-- END SKILLS DETAILS -->
                </div><!--end .hbox-md -->
            </div><!--end .card-tiles -->
            <!-- END CONTACT DETAILS -->

        </div><!--end .card -->

    </div><!--end .section-body -->

</section>


{% endblock %}