{% extends "base1.html" %}

{% block content %}

<h1>Delete User</h1>

<p>Are you sure you want to delete the user: {{ user }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete." />

  <input type="submit" name="cancel" action="" value="Cancel" />
</form>

{% endblock %}