{% extends "postman/base.html" %}
{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the dj-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'dj_pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}

{% block content %}
<style type="text/css">
#content{
  background: #fff;}
}

</style>
<section class="has-actions style-default-bright">

      <div class="row">

 <div class="col-sm-4 col-md-3 col-lg-2">
          <ul class="nav nav-pills nav-stacked nav-icon">
            <li><small>MAILBOXES</small></li>{% postman_unread as unread_count %}
            <li class="active"><a href="{% url 'postman:inbox' %}"><span class="glyphicon glyphicon-inbox"></span>Inbox{% if unread_count %}<small>({{ unread_count }})</small>{% endif %}</a></li>
            <li><a href="{% url 'postman:sent' %}" class="text-default-light">{% trans "Sent" %}</a></li>
            <li><a href="{% url 'postman:write' %}" class="text-default-light">{% trans "Compose" %}</a></li>
            <li><a href="{% url 'postman:archives' %}" class="text-default-light">{% trans "Archives" %}</a></li>
            <li><a href="{% url 'postman:trash' %}" class="text-default-light"><span class="glyphicon glyphicon-trash"></span>{% trans "Trash" %}</a></li>
            <li><small>Tags</small></li>
            <li><a href=""><i class="fa fa-dot-circle-o text-info"></i>Unread</a></li>
          </ul>
        </div>
 <div class="col-sm-8 col-md-9 col-lg-10">
  <h3 style="margin-top: 0;">{% block pm_folder_title %}{% endblock %}</h3>
{% autopaginate pm_messages %}
{% if invalid_page %}
<p>{% trans "Sorry, this page number is invalid." %}</p>
{% else %}
{% if pm_messages %}
{% block pm_by_modes %}<div class="btn-group stick-top-right">
<span class="pm_by-mode">{% if by_message %}<a href="{{ by_conversation_url }}">{% endif %}{% trans "by conversation" %}{% if by_message %}</a>{% endif %}</span> |
<span class="pm_by-mode">{% if by_conversation %}<a href="{{ by_message_url }}">{% endif %}{% trans "by message" %}{% if by_conversation %}</a>{% endif %}</span>
</div>{% endblock pm_by_modes %}
<form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}
{% block pm_form_buttons %}<span class="pm_buttons">
{% block pm_delete_button %}<button type="submit" class="pm_btn pm_btn-delete btn ink-reaction btn-primary" onclick="this.form.action='{% url 'postman:delete' %}'">{% trans "Delete" %}</button>{% endblock %}
{% block pm_archive_button %}<button type="submit" class="pm_btn pm_btn-archive btn ink-reaction btn-primary" onclick="this.form.action='{% url 'postman:archive' %}'">{% trans "Archive" %}</button>{% endblock %}
{% block pm_undelete_button %}<button type="submit" class="pm_btn pm_btn-undelete btn ink-reaction btn-primary" onclick="this.form.action='{% url 'postman:undelete' %}'">{% trans "Undelete" %}</button>{% endblock %}
{% block pm_read_button %}<button type="submit" class="pm_btn pm_btn-read btn ink-reaction btn-primary" onclick="this.form.action='{% url 'postman:mark-read' %}'">{% trans "Mark as read" %}</button>{% endblock %}
{% block pm_unread_button %}<button type="submit" class="pm_btn pm_btn-unread btn ink-reaction btn-primary" onclick="this.form.action='{% url 'postman:mark-unread' %}'">{% trans "Mark as unread" %}</button>{% endblock %}
</span>{% endblock %}
  <span class="pull-right text-default-light">

   {% trans "Action" %}:
{% block pm_sender_header %}   <a href="{% postman_order_by sender %}">{% trans "Sender" %}</a>{% endblock %}
{% block pm_recipient_header %}   <a href="{% postman_order_by recipient %}">{% trans "Recipient" %}</a>{% endblock %}
   <a href="{% postman_order_by subject %}">{% trans "Subject" %}</a>
   <a href="{% postman_order_by date %}">{% block pm_date %}{% trans "Date" %}{% endblock %}</a>

</span>
<hr>
    <div class="list-group list-email list-gray">
 {% for message in pm_messages %}
  <a href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}" class="list-group-item" id="a-link">
 
   <div class="stick-top-left small-padding">
    <div class="small-checkbox checkbox-styled">
    <label><input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} /></label></div>
  </div>
   {% if message.is_new %}<div class="stick-bottom-right small-padding"><i class="fa fa-dot-circle-o text-info"></i></div>{% endif %}
{% block pm_sender_cell %}   <h5>{{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}{% endblock %}
{% block pm_recipient_cell %}   {{ message.obfuscated_recipient|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}{% endblock %}
   </h5>
{% block pm_subject %}
    <h4>{% with message.subject|truncatewords:5 as truncated_subject %}{{ truncated_subject }}{% endwith %}</h4>
{% endblock %}
<p class="hidden-xs hidden-sm">{{ message.body|truncatewords:18|safe }}</p>
   <div class="stick-top-right small-padding text-default-light text-sm">{{ message.sent_at|date:"DATETIME_FORMAT" }}</div>
   
</a>
{% endfor %}
  </div><!--end .list-group -->
</div>

</form>

{% paginate %}
</ul>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endif %}
{% block pm_footer_info %}{% endblock %}
</div>

</section>
<style type="text/css">
.checkbox-styled:not(ie8) input ~ span::before, .radio-styled:not(ie8) input ~ span::before {
    width: 15px;
    height: 15px;
}
</style>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
$(".list-group a").click(function(e) {
  var checkbox = $($(this).find('input[type="checkbox"]'));
checkbox.prependTo($('.list-group a'));
checkbox.click(function(e) {
    setTimeout(function() { checkbox.prop('checked', !checkbox.prop('checked')); }, 10);       
    // do something useful on clicking checkbox and but not surrounding link
    return false;
 });
//     e.preventDefault(); // Optional if you want to to keep the link from working normally
//     //alert("Click came from: " + e.target.tagName);
//     if (e.target.tagName != "INPUT") {
//       this.click();
//         console.log($(this).attr('href'));
//         window.location = $(this).attr('href');
//         //alert("Doing link functionality");
//     } else {
//         $(this).find('input[type="checkbox"]').prop("checked", true).attr('checked', true);
//         console.log($(this).find('input[type="checkbox"]').prop("checked"));

//     }
});

</script> -->
{% endblock content %}
