{% extends "postman/base.html" %}
{% load i18n static %}
{% load postman_tags %}
{% block extrahead %}{{ block.super }}
{% endblock %}

<div id="base">
{% block content %}
 <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
 <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<style type="text/css">
#cke_id_body{
  width: 100% !important;
  overflow: hidden;
}
.full-content{
	overflow: hidden;
}
</style>

<section class="has-actions style-default-bright">
<div class="section-body">
<div class="row">
 	<div class="col-sm-4 col-md-3 col-lg-2">
          <ul class="nav nav-pills nav-stacked nav-icon">
            <li><small>MAILBOXES</small></li>{% postman_unread as unread_count %}
            <li class="active"><a href="{% url 'postman:inbox' %}"><span class="glyphicon glyphicon-inbox"></span>Inbox{% if unread_count %}<small>({{ unread_count }})</small>{% endif %}</a></li>
            <li><a href="{% url 'postman:sent' %}" class="text-default-light">{% trans "Sent" %}</a></li>
            <li><a href="{% url 'postman:write' %}" class="text-default-light">{% trans "Compose" %}</a></li>
            <li><a href="{% url 'postman:archives' %}" class="text-default-light">{% trans "Archives" %}</a></li>
            <li><a href="{% url 'postman:trash' %}" class="text-default-light"><span class="glyphicon glyphicon-trash"></span>{% trans "Trash" %}</a></li>
            <li><small>Tags</small></li>
            <li><a href=""><i class="fa fa-dot-circle-o text-info"></i>Unread</a></li>
          </ul>
        </div>
 <div class="col-sm-8 col-md-9 col-lg-10">
<h3 style="margin-top: 0;">{% block pm_write_title %}{% endblock %}</h3>
<form class="form" id="formControl" action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}

{% block pm_write_recipient %}{% endblock %}
<div class="form-group floating-label">

	{{ form.recipients }}

	<label for="id_recipients">{{ form.recipients.label }}</label>
</div>
<div class="form-group floating-label">

{{ form.subject }}
<label for="id_subject">{{ form.subject.label }}</label>
</div>
<div class="form-group">
<div class="note-editor">
  {{ form.media }}
{{form.body }}
</div>
</div>


</div>
</div>
</div>

<div class="section-action style-primary">
				<div class="section-action-row">
				<div class="btn ink-reaction btn-icon-toggle" onclick="history.back();"><i class="fa fa-chevron-left"></i></div>
			</div>
			<div class="section-floating-action-row">
<button type="submit" class="pm_btn pm_btn-send btn ink-reaction btn-floating-action btn-lg btn-accent" "><i class="fa fa-send"></i></button>
			</div>
		</div>

</form>

</section>

{% endblock %}
</div>
