{% extends "postman/base.html" %}
{% load i18n %}{% load postman_tags %}
<div id="base">
{% block content %}
<section class="style-default-bright">
	<div class="section-body">
<div id="row">
	 	<div class="col-sm-4 col-md-3 col-lg-2">
          <ul class="nav nav-pills nav-stacked nav-icon">
            <li><small>MAILBOXES</small></li>{% postman_unread as unread_count %}
            <li class="active"><a href="{% url 'postman:inbox' %}"><span class="glyphicon glyphicon-inbox"></span>Inbox{% if unread_count %}<small>({{ unread_count }})</small>{% endif %}</a></li>
            <li><a href="{% url 'postman:sent' %}" class="text-default-light">{% trans "Sent" %}</a></li>
            <li><a href="{% url 'postman:write' %}" class="text-default-light">{% trans "Compose" %}</a></li>
            <li><a href="{% url 'postman:archives' %}" class="text-default-light">{% trans "Archives" %}</a></li>
            <li><a href="{% url 'postman:trash' %}" class="text-default-light"><span class="glyphicon glyphicon-trash"></span>{% trans "Trash" %}</a></li>
            <li><small>Tags</small></li>
            <li><a href=""><i class="fa fa-dot-circle-o text-info"></i>Unread</a></li>
          </ul>
        </div>

        	
<div class="col-sm-8 col-md-9 col-lg-10">
	<h3 style="margin-top: 0;">{% if pm_messages|length > 1 %}{% trans "Conversation" %}{% else %}{% trans "Message" %}{% endif %}</h3>
</div>
<div class="col-sm-8 col-md-9 col-lg-10">

	<div class="text-divider hidden-md hidden-lg"><span>Email</span></div>
{% for message in pm_messages %}
<div class="pm_message{% if message.is_pending %} pm_pending{% endif %}{% if message.is_rejected %} pm_rejected{% endif %}{% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} pm_archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} pm_deleted{% endif %}{% if message.recipient == user and not message.read_at %} pm_unread{% endif %}">
</div>
 <h1 class="no-margin">{{ message.subject }}</h1>


  
{% if message.is_rejected %}  <div class="pm_status">{% trans "Rejected" %}{% if message.moderation_reason %}{% trans ":" %} {{ message.moderation_reason }}{% endif %}</div>{% endif %}

<form action="" method="post">{% csrf_token %}
<input type="hidden" {% if pm_messages|length > 1 and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
<div class="btn-group stick-top-right">
<a href="{{ next_url }}" class="btn btn-icon-toggle btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"><i class="fa fa-arrow-left"></i></a>
<span id="pm_buttons">
<button type="submit" class="btn btn-icon-toggle btn-default"
 onclick="this.form.action='{% url 'postman:delete' %}?next={{ next_url|urlencode }}'" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Delete"><i class="fa fa-trash"></i></button>
{% if not archived %}<button type="submit" class="btn btn-icon-toggle btn-default"
 onclick="this.form.action='{% url 'postman:archive' %}?next={{ next_url|urlencode }}'" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Archive"><i class="fa fa-archive"></i></button>{% endif %}
</span>
{% if reply_to_pk %}<a href="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}"
 class="btn btn-icon-toggle btn-default" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Reply"><i class="fa fa-reply"></i></a>{% endif %}
 </div>
</form>

<span class="pull-right text-default-light">{{ message.sent_at|date:"DATETIME_FORMAT"}}</span>
  <strong>{{ message.obfuscated_sender|or_me:user }}</strong>
  <hr>
 <p class="lead">{{ message.body|safe|linebreaksbr}}</p>
<!-- 
{% if reply_to_pk %}<hr />
<h2>{% trans 'Reply' %}</h2>
{{form.media}}
<form action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
<div id="pm_reply">{{ form.body }}</div>
<button type="submit" class="pm_btn pm_btn-reply btn ink-reaction btn-primary">{% trans 'Reply' %}</button>
</form>{% endif %} -->

{% endfor %}


</div>
</div>
</div>
</section>
{% endblock %}
</div>



