{% extends "base1.html" %}
{% load static %}
{% block title %}

{% if object %}Edit content "{{ object.title }}"
{% else %}
	Add a new content
{% endif %}
{% endblock %}
{% block content %}

    <style type="text/css">
    #cke_id_content{
    width: 100% !important;
    overflow: hidden;
    }
    </style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<section>

<h1>
	{% if object %}
		Edit content "{{ object.title }}"
	{% else %}
		Add a new {{model_name}}: {{module.title}}
	{% endif %}
</h1>
<div class="module">
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
	<!-- 	{{ form.media }} -->
		{{ form.as_p }}
		
		<p><input type="submit" value="Save content"></p>
	</form>
</div>
</section>
{% endblock %}
