{% extends "base.html" %}
{% load static %}
{% block title %}ECS{% endblock %}
{% block content %}
<body style="background-image:url({% static 'images/astro.jpg' %});background-attachment: fixed;">
<section id="wrapper" class="login-register">

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <div class="login-box login-sidebar">
        <div class="white-box">
        <img src="{% static "images/engcs.png" %}" alt="Home">  
        <div class="form-group m-t-40">
            <div class="col-xs-12">
                <div class="login-form">
                    <div style="height:50px;"></div>
                    <h3>Please Change Password</h3>
                            <form action="" method="post" class="form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
                                {% if messages %}
                                {% for message in messages %}
                                    <p class="{{ message.tags }}" style="color: red;">{{ message }}</p>
                                {% endfor %}
                                {% endif %}
                                    <div class="form-group floating-label">
                                        <div class="form-group floating-label">
                                            <input type="password" name="old_password" class="form-control" id="id_old_password">
                                            <label for="old_password" >Old Password</label>
                                        </div>
                                        <div class="form-group floating-label">
                                            <input type="password" name="new_password" class="form-control" id="id_new_password">
                                            <label for="new_password" >New Password</label>
                                        </div>
                                        <div class="form-group floating-label">
                                            <input type="password" name="new_password1" class="form-control" id="id_new_password">
                                            <label for="new_password1" >Confirm New Password</label>
                                        </div>                                   
                                        {% csrf_token %}
                                    </div>
                                    <div class="cansub">
                                      <input id="cansub_main" type="submit" action="" value="Change" class="btn btn-flat btn-default ink-reaction">
                                    </div>           
                                </form> 
                </div> 
    
                </div>  
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}

       