{% extends "base.html" %}
{% load static %}
{% block title %}ECS{% endblock %}
{% block content %}
<body style="background-image:url({% static 'images/astro.jpg' %});background-attachment: fixed;">
<section id="wrapper" class="login-register">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<div class="login-box login-sidebar">
		<div class="white-box">
		<img src="{% static "images/engcs.png" %}" alt="Home">  
		<div class="form-group m-t-40">
			<div class="col-xs-12">
				<div class="login-form">
					<div style="height:50px;"></div>
					<h1>Logged out</h1>
					<div class="module">
					<p style="font-size: 14px;">You have been successfully logged out. You can <a href="{% url "admin:login" %}" style="color: #50bebb">log-in again</a> or <a href="{% url "mainpage" %}" style="color: #50bebb"> return to mainpage</a>.</p>
					</div>
				</div> 
	
				</div>	
			</div>
		</div>
	</div>
</section>
</body>
{% endblock %}