{% extends "base1.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li><a href="{% url "update_user" %}">My Profile</a></li>
            <li class="active">Change Password</li>
        </ol>
    </div>
    <div class="section-body">
        <div class="card">
            <!-- BEGIN CONTACT DETAILS HEADER -->
            <div class="card-head card-head-sm style-primary">
                <header>Change Password</header>
                <div class="tools pull-left">
                   
                </div><!--end .tools -->
                <div class="tools">
                    <button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-gear"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
                        <li><a href="{% url "password_change" %}"><span class="fa fa-unlock-alt"></span> &nbsp;Change Password</a></li>
                    </ul>
                </div><!--end .tools -->
            </div><!--end .card-head -->
            <!-- END CONTACT DETAILS HEADER -->

            <!-- BEGIN CONTACT DETAILS -->
            <div class="card-tiles">
                <div class="hbox-md col-md-12">
                    <div class="hbox-column col-md-9">
                        <div class="row">
                            <!-- BEGIN CONTACTS MAIN CONTENT -->
                            <div class="col-sm-7 col-md-8 col-lg-12">
                                <form action="" method="post" class="form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
                                {% if messages %}
                                {% for message in messages %}
                                    <p class="{{ message.tags }}" style="color: red;">{{ message }}</p>
                                {% endfor %}
                                {% endif %}
                                    <div class="form-group floating-label">
                                        <div class="form-group floating-label">
                                            <input type="password" name="old_password" class="form-control" id="id_old_password">
                                            <label for="old_password" >Old Password</label>
                                        </div>
                                        <div class="form-group floating-label">
                                            <input type="password" name="new_password" class="form-control" id="id_new_password">
                                            <label for="new_password" >New Password</label>
                                        </div>
                                        <div class="form-group floating-label">
                                            <input type="password" name="new_password1" class="form-control" id="id_new_password">
                                            <label for="new_password1" >Confirm New Password</label>
                                        </div>                                   
                                        {% csrf_token %}
                                    </div>
                                    <div class="cansub">
                                      <input type="submit" name="cancel" value="Cancel" class="btn btn-flat btn-default ink-reaction">
                                      <input id="cansub_main" type="submit" action="" value="Change" class="btn btn-flat btn-default ink-reaction">
                                    </div>           
                                </form>        
                            </div><!--end .col -->
                            <!-- END CONTACTS MAIN CONTENT -->
                        </div><!--end .row -->
                    </div><!--end .hbox-column -->
                    
                    <!-- BEGIN SKILLS DETAILS -->
                    <div class="hbox-column col-md-3 style-default-light">
                        <div class="row">
                            <div class="col-xs-12" style="margin-bottom:-15px;">
                                <h4 style="margin-bottom:0px;">Skills</h4>
                                <br/>
                                <strong>HTML</strong>
                                <span class="pull-right text-success text-sm">0,75% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-primary-dark" style="width:75%"></div>
                                </div>   
                                <strong>Assembly</strong>
                                <span class="pull-right text-danger text-sm">0,20% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-danger" style="width:20%"></div>
                                </div>                                
                                <strong>MySQL</strong>
                                <span class="pull-right text-success text-sm">0,80% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-primary-dark" style="width:80%"></div>
                                </div>      
                                <strong>Python</strong>
                                <span class="pull-right text-success text-sm">0,90% <i class="md md-trending-up"></i></span>
                                <div class="progress progress-hairline">
                                    <div class="progress-bar progress-bar-primary-dark" style="width:90%"></div>
                                </div>      
                            </div><!--end .col -->
                        </div><!--end .row -->
                    </div>
                    <!-- END SKILLS DETAILS -->
                </div><!--end .hbox-md -->
            </div><!--end .card-tiles -->
            <!-- END CONTACT DETAILS -->

        </div><!--end .card -->
    </div><!--end .section-body -->
</section>
{% endblock %}