{% extends "base1.html" %}
{% block title %}My Classes{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active">My Classes</li>
        </ol>
    </div>
    <div class="section-body">
    	<div class="row"><!--start .row -->
			<!-- BEGIN CARD CONTENT -->
			{% for classroom in teacher.classrooms.all %}
			<div class="col-sm-3">
				<div class="card " >	
					<a href="{% url 'class_detail' classroom.id %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-group" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					{{ classroom.title }}			
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>	
				<button id="classes_button" type="button" class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="fa fa-gear"></span>
				</button>
				<ul id="classes_ul" class="dropdown-menu dropdown-menu-right animation-dock" role="menu" > 
					<li class="joiner">Join Code: <span id="copyjoincode">{{ classroom.class_code }}</span></li>
					<li class="divider"></li>
					<li><a class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyjoincode"><span class="fa fa-key"></span> &nbsp;Copy Join Code</a></li>
					<li><a href="{% url "update_class" classroom.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Class</a></li>
					<li><a href="{% url "delete_class" classroom.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Class</a></li>
				</ul>
			</div>	
			{% endfor %}
			<div class="col-sm-3">
				<div class="card">				
					<a href="javascript:void(0);" data-toggle="modal" data-target="#addClass" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-plus card-add"></i>
					<div style="height:10px;"></div>
					Create New Class
					<div style="height:14px;"></div>
					</div>
					</a>
					<!-- BEGIN WIDGET ADD CLASS -->
                    <div class="modal fade" id="addClass" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="formModalLabel">Create New Class</h4>
                                </div>                               
                                <div class="modal-body">
                              		<form class="class_create_form form form_class" action="{% url 'create_class' %}" method="post" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
                                	{% csrf_token %}
                                	<div class="form-group floating-label">
										{{ class_create_form.title}}
										<label for="title">Class Title</label>
									</div>
								    <div class="row">
								        <div class="col-sm-2">Add Units: </div>
								        <div class="col-sm-9">
								        	{% for unit in class_create_form.add_units %}
  											<div class="checkbox checkbox-styled">
												<label>
													{{unit}}
													<span>{{unit.label_tag}}</span>
												</label>
											</div>
											{% endfor %}
    							        </div>
  									</div>
								</div>
                                <div class="modal-footer">
                                    <div class="cansub">
							  			<input type="submit" data-dismiss="modal" name="cancel" value="Cancel" class="btn btn-flat btn-default ink-reaction">
							  			<input id="cansub_main" type="submit" action="" value="Create" class="btn btn-flat btn-default ink-reaction">
						  			</div>
                                </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <!-- END WIDGET ADD CLASS -->
				</div>	
			</div>	
		</div><!--end .col -->
	</div>
</section>
{% endblock %}