{% extends "base1.html" %}
{% load unit %}
{{ object.title }}
{% block content %}
<!-- BEGIN CONTENT-->
<section>
	<div class="section-header">
	    <ol class="breadcrumb">
	        <li><a href="/">Dashboard</a></li>
	        {% if classroom %}
	        	<li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
	        	<li><a href="{%url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
	        {% else %}
		        <li><a href="{%url 'teacher_unit_list'%}">My Units</a></li>
	        {% endif %}  
	        <li class="active">{{unit.title}} - {{ module.title }}</li>
	    </ol>
	</div>
	<div class="section-body contain-lg">
		<div class="card tabs-left style-default-light">
			<div class="card-head card-head-sm style-primary">
				{% if classroom %}
					<header>{{classroom.title}}</header>
					<div class="tools">
					{% if request.user.is_teacher %}
						<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
						<span class="fa fa-gear"></span>
						</button>
						<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
							<li class="joiner1">Join Code: <span id="copyjoincode">{{ classroom.class_code }}</span></li>
							<li class="divider"></li>
							<li><a class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyjoincode"><span class="fa fa-key"></span> &nbsp;Copy Join Code</a></li>
							<li><a href="{% url "update_class" classroom.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Class</a></li>
							<li><a href="{% url "delete_class" classroom.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Class</a></li>
						</ul>
					{% endif %}
				</div>
				{% else %}
					<header>{{unit.title}}</header>
				{% endif %}
			</div>
			<!-- BEGIN TAB RESULTS -->
			<ul class="card-head nav nav-tabs tabs-accent">
				{% for m in object.modules.all %}
				<li data-id="{{ m.id }}" {% if m == module %} class="active" class="selected" {% endif %}><a href="{% url "teacher_unit_detail_module" object.id m.id %}{% if classroom %}?class={{classroom.id}}{% endif %}">{{ m.title }}</a>
				</li>
				{% empty %}
				<li>No modules yet.</li>
				{% endfor %}
			</ul>
			<!-- END TAB RESULTS -->
			<div class="card-body tab-content style-default-bright">
				<div class="tab-pane active">
					<div class="row">
						<div class="col-lg-12">
							<!-- BEGIN PAGE HEADER -->
							<div style="width:100%;overflow: auto;">
								{% for content in module.contents.all %}
								{% with item=content.item %}
								{% if item.questions and classroom.id %}
									<h2 class="mod-title">{{ item.title }}</h2>
									<hr class="hr-title"></hr>
									<div class="override">
									{{ item.render }}
									</div>
									<a href="{% url "create_assignment" classroom.id %}?content={{content.id}}">
										<button class="btncus"/>Assign Now</button>
									</a>
								{% else %}
									<h2 class="mod-title">{{ item.title }}</h2>
									<hr class="hr-title"></hr>
									<div class="override">
									{{ item.render }}
									</div>
								{% endif %}
								{% endwith %}
							{% empty %}
							<p style="font-size:14px">No content</p>
							{% endfor %}
							</div>	
							<!-- END PAGE HEADER -->
						</div><!--end .col -->
					</div><!--end .row -->
				</div><!--end .tab-pane -->
			</div><!--end .card-body -->
		</div><!--end .card -->
	</div><!--end .section-body -->
</section>
{% endblock %}
