{% extends "base1.html" %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
	<div class="section-header">
	    <ol class="breadcrumb">
	        <li class="active"><a href="/">Dashboard</a></li>	       
	    </ol>
	</div>
	<div class="section-body"><!--start .section-body -->
		<div class="row"><!--start .row -->
			<!-- BEGIN CALENDAR SIDE PANEL -->
			<div class="col-sm-3">
				<div class="card">				
					<a href="{% url 'teacher_classroom_list' %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-group" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					My Classes
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>	
				<div class="card">	
					<a href="{% url 'teacher_unit_list' %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-cube" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					My Units
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>	
				<div class="card">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#addWidget" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-plus" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					Add Widget
					<div style="height:14px;"></div>
					</div>
					</a>
						<!-- BEGIN WIDGET ADD MODAL -->
                        <div class="modal fade" id="addWidget" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="formModalLabel">Add Widget</h4>
                                    </div>                               
                                    <div class="modal-body">
                                        <div class="checkbox checkbox-styled">
											<label>
												<input type="checkbox" value="" checked>
												<span>My Classes</span>
											</label>
										</div>
                                        <div class="checkbox checkbox-styled">
											<label>
												<input type="checkbox" value="" checked>
												<span>My Units</span>
											</label>
										</div>
                                        <div class="checkbox checkbox-styled">
											<label>
												<input type="checkbox" value="">
												<span>My Messages</span>
											</label>
										</div>
                                        <div class="checkbox checkbox-styled">
											<label>
												<input type="checkbox" value="">
												<span>Assignments Feed</span>
											</label>
										</div>
                                        <div class="checkbox checkbox-styled">
											<label>
												<input type="checkbox" value="">
												<span>Gradebook</span>
											</label>
										</div>
									</div>
                                    <div class="modal-footer">
										<div class="cansub">
											<input type="submit" name="cancel" data-dismiss="modal" value="Cancel" class="btn btn-flat btn-default ink-reaction">
											<input id="cansub_main" type="submit" action="" value="Update" class="btn btn-flat btn-default ink-reaction">
										</div>
                                    </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!-- END WIDGET ADD MODAL -->
				</div>	
			</div><!--end .col -->
			<!-- END CALENDAR SIDE PANEL -->
			<!-- BEGIN CALENDAR -->
			<div class="col-sm-9">
				<div class="card">
					<div class="card-head style-primary">
						<header>
							<span class="selected-day">&nbsp;</span> &nbsp;	<small class="selected-date">&nbsp;</small>
						</header>
						<div class="tools">
							<div class="btn-group">
								<a id="calender-today" class="btn btn-flat ink-reaction">Today</a>
								<a id="calender-prev" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-angle-left"></i></a>
								<a id="calender-next" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-angle-right"></i></a>
							</div>
						</div>
						<ul class="nav nav-tabs tabs-text-contrast tabs-accent" data-toggle="tabs">
							<li data-mode="month" class="active"><a href="#">Month</a></li>
							<li data-mode="agendaWeek"><a href="#">Week</a></li>
							<li data-mode="agendaDay"><a href="#">Day</a></li>
						</ul>
					</div><!--end .card-head -->
					<div class="card-body no-padding">
						<div id="calendar"></div>
					</div>
				</div>
			</div>
			<!-- END CALENDAR -->
		</div><!--end .row -->
	</div><!--end .section-body -->
</section>
<script src="{% static "/js/jquery-1.11.2.min.js" %}"></script>
<script>

    $(document).ready(function() {
        $('#calendar').fullCalendar({
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: [
                {% for class in teacher.classrooms.all %}
                {% for assignment in class.assignments.all %}
               
                {
                    title: "{{ assignment.title }}",
                    start: "{{ assignment.due_date|date:"Y-m-d" }}",
                    url: "{% url 'assignment_detail' assignment.id %}"

                },
                {% endfor %}
                {% endfor %}

            ]
        });

    });

</script>
{% endblock %}
