{% extends "base1.html" %}
{% block title %}My units{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li class="active">My Units</li>
        </ol>
    </div>
    <div class="section-body">
    	<div class="row"><!--start .row -->
			<!-- BEGIN CARD CONTENT -->
			{% for unit in teacher.units.all %}
			<div class="col-sm-3">
				<div class="card">				
					<a href="{% url "teacher_unit_detail" unit.id %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-cube" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					{{ unit.title }}
					<div style="height:14px;"></div>
					<!--<div style="background-color:#eee;">
					Subject: <b>{{ unit.subject }}</b></div>-->
					</div>
					</a>
				</div>	
			</div>	
			{% empty %}
			<div class="col-sm-3">
				<p>You currently have no units.</p>
			</div>	
			{% endfor %}
		</div><!--end .col -->
	</div>
</section>
{% endblock %}
