@import url(https://fonts.googleapis.com/css?family=Roboto:500,300,400);

body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    color:#333;
}

a {
    color:#3fad37;
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
    font-weight:300;
}

h1 {
    background:#efefef;
    width:auto;
    overflow:auto;
    padding:20px 0 20px 40px;
    margin:0;
}

.module {
    overflow:auto;
}

.module h3 {
    margin:30px 0 0;
    padding:0;
    width:100%;
}

.module p {
    margin:10px 0 20px;
    width:100%;
    float:left;
}

#header {
    background:#4dcc43;
    overflow:auto;
    padding:10px 20px;
    border-bottom:6px solid #3fad37;
}

#header .logo {
    text-decoration:none;
    font-family:'Roboto', sans-serif;
    font-weight:300;
    font-size:24px;
    color:#fff;
    float:left;
}

#header a {
    color:#fff;
}

#header .menu {
    list-style:none;
    float:right;
    margin:0;
    padding:0;
}

.mainpage{
    margin:40px;
    text-align: center;
}
.main-button{
    display: inline-block;
    width:40%;
}
.main-button input[type="submit"]{
  
    float:none;
}
.contents {
    width:20%;
    padding:10px;
    float:left;
    background:#333;
    color: #fff;
    font-family:'Roboto', sans-serif;
}

.contents ul {
    list-style:none;
    margin:0;
    padding:0;
}

.contents ul li {
    margin:0 0 10px 0;
    padding:4px 10px 10px;
    overflow:auto;
}

.contents ul li.selected {
    background:#3f3f3f;
}

.contents ul li:hover {
    background:#3f3f3f;
    cursor:move;
}

.contents ul span {
    text-transform:uppercase;
    color:#bbb;
    font-size:14px;
}

.contents ul a {
    display:block;
    color:#fff;
    text-decoration:none;
}

.contents ul a:hover {
    color:#4dcc43;
}

.module {
    padding:10px 20px;
    display: inline-block;
}
.module input[type="checkbox"]{
    width: auto;
    margin-bottom: 20px;
}
.module img{
    width:480px;
    height:auto;
}
ul.content-types li {
    list-style:none;
    float:left;
    margin:10px;
    background:#efefef;
    padding:8px 14px;
}

.hidden {
    display:none;
}

form p {
    overflow:auto;
}

.errorlist {
    color:#ae2c2c;
    margin:0;
}

label {
    float:left;
    clear:both;
    margin:0 0 8px 0;
}

input, select, textarea {
    border:1px solid #ccc;
    border-bottom:3px solid #ccc;
    padding:8px 12px;
    font-size:16px;
    font-family:'Roboto', sans-serif;
    float:left;
    clear:both;
    width:300px;
}

textarea {
    height:80px;
}

select {
    width:324px;
}

input[type=submit], a.button, button {
    border-radius:5px;
    background:#4dcc43;
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    border:none;
    padding:10px 20px;
    margin:20px 0;
}

a.secondary-button {
    border:3px solid #4dcc43;
    padding:10px 20px;
    margin:10px 0;
}

input[type=submit]:hover {
    background:#3fad37;
}

ul#unit-modules {
    list-style:none;
    overflow:auto;
}

ul#unit-modules textarea {
    width:600px;
    height:120px;
}

ul#unit-modules li {
    padding:20px;
    overflow:auto;
}

ul#unit-modules li:nth-child(even) {
    background:#efefef;
}

ul#unit-modules li:hover {
    background:#ccc;
    cursor:move;
}

#module-contents div {
    padding:20px 20px 4px 20px;
    border:1px solid #ccc;
    background:#fff;
    overflow:auto;
}

#module-contents div:hover {
    cursor:move;
}

#module-contents a {
    float:left;
}

#module-contents form {
    margin:0;
    padding:0;
    float:left;
}

#module-contents input[type="submit"] {
    width:auto;
    background:none;
    color:#3fad37;
    margin:0 0 10px 10px;
    padding:0;
    text-transform:none;
}

.unit-info, .class-info, .create-class, .manage-class, .user-profile {
    border:1px solid #ccc;
    padding:10px 20px 20px;
    width:400px;
    overflow:auto;
    margin-bottom:20px;
}

.unit-info a {
    margin-right:10px;
}

.helptext {
    color:#ccc;
    padding-left:20px;
}

#profile-photo{
    width: 50px;
    height: 50px;
}

