{% extends "base1.html" %}

{% block title %}Delete unit{% endblock %}

{% block content %}
<section>
<h1>Delete unit "{{ object.title }}"</h1>

<div class="module">
	<form action="" method="post">
		{% csrf_token %}
		<p>Are you sure you want to delete "{{ object }}"?</p>
		<input type="submit" class"button" value="Confirm">
	</form>
</div>
</section>
{% endblock %}
