{% extends "base1.html" %}
{% load static %}
{% block title %}
	{% if object %}
		Edit unit "{{ object.title }}"
	{% else %}
		Create a new unit
	{% endif %}
{% endblock %}
{% block content %}
	<style type="text/css">
	#cke_id_overview{
	width: 100% !important;
	overflow: hidden;
	}
	</style>
	<script src="{% static 'js/jquery.formset.js' %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
	<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
	<section>
				<div class="section-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-head card-head-sm style-primary">
							{% if object %}
						<header>Edit unit: {{ object.title }}</header>
						{% else %}
						<header>Create a new unit</header>
						{% endif%}
					</div>

		<div class="card-body">
			<h2>Unit info</h2>
			<form class="form" action="." method="post">
				{% csrf_token %}
				{{form.media}}
				<div class="form-group floating-label">
					{{form.title}}
					<label for="{{form.title.input}}"> {{form.title.label_tag}}</label>
				</div>
				<div class="form-group floating-label">
					{{form.subject.label}}
					{{form.subject}}
				</div>
				<div class="form-group">
					
					<div class="floating-label">
						<label for="{{form.overview.input}}">{{form.overview.label_tag}}</label>
					</div>
					{{form.overview}}
				</div>
				{{form.target_grades.label_tag}}
				<ul id="id_target_grades" class="list-unstyled">
					{% for grade in form.target_grades %}
						<li>
							<div class="checkbox checkbox-styled">
								<label>
								{{grade.tag}}
									<span>{{grade.choice_label}}</span>
								</label>
							</div>
						</li>
					{% endfor %}
				</ul>
				<br>
				<p><input type="submit" class="btn btn-primary" value="Save unit"></p>
			</form>
		</div>
	</div>
</div>
</div>
	</section>
{% endblock %}