{% extends "base2.html" %}
{% load unit %}
{{ object.title }}
{% block content %}
<!-- BEGIN CONTENT-->
<section>
	<div class="section-header">
	    <ol class="breadcrumb">
	        <li><a href="/">Dashboard</a></li>
	        {% if classroom %}
	        <li><a href="{%url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
	        {% endif %}
	        <li><a href="{%url 'teacher_unit_detail' unit.id%}" >{{ unit.title }}</a></li>
	        <li class="active">{{ module.title }}</li>
	    </ol>
	</div>
	<div class="section-body contain-lg">
		<div class="card tabs-left style-default-light">
			<!-- BEGIN SEARCH BAR -->
		
			<!-- BEGIN SEARCH HEADER -->
			<div class="card-head card-head-sm style-primary">
				{% if classroom %}
				<header>{{classroom.title}}</header>
				{% endif %}
				<div class="tools pull-right">
					<form class="navbar-search" role="search">
						<div class="form-group">
							<input type="text" class="form-control" name="contactSearch" placeholder="Search modules">
						</div>
						<button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>

			<!-- END SEARCH BAR -->
			<!-- BEGIN TAB RESULTS -->
			<ul class="card-head nav nav-tabs tabs-accent" data-toggle="tabs">
				{% for m in object.modules.all %}
				<li data-id="{{ m.id }}" {% if m == module %} class="active" class="selected" {% endif %}><a href="{% url "student_unit_detail_module" object.id m.id %}{% if classroom %}?class={{classroom.id}}{% endif %}">{{ m.title }}</a>
				</li>
				{% empty %}
				<li>No modules yet.</li>
				{% endfor %}
			</ul>
			<!-- END TAB RESULTS -->
			<!-- BEGIN TAB CONTENT -->
			<div class="card-body tab-content style-default-bright">
				<div class="tab-pane active">
					<div class="row">
						<div class="col-lg-12">
							<!-- BEGIN PAGE HEADER -->
							<div style="width:100%;overflow: auto;">
							<span style="font-size:15px;font-weight: 600">{{ module.title }}</span>
								{% for item in items %}
									<h2>{{ item.title }}</h2>
									{{ item.render }}
							{% empty %}
							<p style="font-size:14px">No content</p>
							{% endfor %}
							</div>	
							<!-- END PAGE HEADER -->
						</div><!--end .col -->
					</div><!--end .row -->
				</div><!--end .tab-pane -->
			</div><!--end .card-body -->
		<!-- END TAB CONTENT -->
		</div><!--end .card -->
	</div><!--end .section-body -->
</section>
{% endblock %}
