{% extends "base.html" %}
{% load static %}
{% block title %}ECS{% endblock %}
{% block content %}
<body style="background-image:url({% static 'images/astro_info.jpg' %});background-attachment: fixed;">
<section id="wrapper">
	<div class="side-info-box">
		<img src="{% static 'images/info.png' %}" alt="image01" />
	</div>
	<div class="info-box info-sidebar">
		<div class="white-box">
		<img src="{% static "images/engcs.png" %}" alt="Home">  
		<div class="form-group m-t-40">
			<div class="col-xs-12">
				<div class="login-form">	
					<div class="login-form-pad"></div>				
            			<div class="success-response hidden" style="font-size: 14px;"z>
            				<div class="col-sm-12 text-center">
            				<p">Your request has been sent.  One of our staff will contact you shortly.</p>
            				<p>Return to <a href="{% url 'mainpage' %}" style="color: #50bebb;">homepage</a>.</p>
            				</div>
            			</div>
						<div class="clear-div">
						{% if login_error %}
	 					<p style="color: red;">
						{{ login_error }}
						</p>
						{% endif %}
					<form action="" id="request-info-form" submit-url="{% url 'request_info' %}"method="post" class="form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
						
						<div class="alert alert-danger hidden" id="request-error">
                			<strong>{{ error|escape }}</strong>
            			</div>
 						<div class="form-group floating-label">
 							<input class="form-control" type="text" name="fullname" required id="id_fullname">
                            <label for="id_fullname">Full Name</label>
                        </div> 
 						<div class="form-group floating-label">
 							<input class="form-control" type="email" name="email" required id="id_email">
                            <label for="id_email">Email Address</label>
                        </div>
	                        <div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" name="grade_level_choices" id="id_grade_level_choices_0" value="1">
									<span>Elementary<span style="color:#ccc">/</span> Key Stages 1-2 <span style="color:#ccc">/</span> PYP
								</label>
							</div>
	                        <div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" name="grade_level_choices" id="id_grade_level_choices_1" value="2">
									<span>Middle School <span style="color:#ccc">/</span> Key Stage 3 <span style="color:#ccc">/</span> MYP
								</label>
							</div>

	                        <div class="checkbox checkbox-styled">
								<label>
									<input type="checkbox" name="grade_level_choices" id="id_grade_level_choices_2" value="3">
									<span>High School<span style="color:#ccc">/</span> Key Stages 4-5 <span style="color:#ccc">/</span> DP
								</label>
							</div>	

						<div class="form-group">
                             <input type="submit" value="Request Info" class="btncus">     
                        </div>
                        <div class="col-sm-12 text-center">
							<div class="return-main"><a href="{% url 'mainpage' %}" id="landing">Return</a></div> 
						</div
					</form>
					
					</div>
					</div>
				</div> 
			
				</div>	
			</div>
		</div>
	</div>
</section>
</body>
<script type="text/javascript">
$(document).ready(function(){
    var $myForm = $('#request-info-form');
    $myForm.submit(function(event){
        event.preventDefault();
        $('#request-error').empty();
        console.log('form sent');
        var $formData = $(this).serialize();
        var $thisURL = $myForm.attr('submit-url');
        $.ajax({
            method: "POST",
            url: $thisURL,
            data: $formData,
            success: handleFormResponse,
            error: handleFormError,
        })
    })

    function handleFormResponse(data, textStatus, jqXHR){
    	if (data['error']){
    	$('#request-error').removeClass('hidden').append(data['error']);
    	}
    	else if (data['message']){
    		$('#request-info-form')[0].reset();
    		$('.clear-div').empty();
    		$('.success-response').removeClass('hidden');
    	}
}

    function handleFormError(jqXHR, textStatus, errorThrown){
    	json = jqXHR['responseText'];
    	JSON.parse(json, (key, value) => {
    	$('#request-error').removeClass('hidden').append(value);
	    	});
    }
})
</script>

{% endblock %}