<div style="font-size: 14px;">
		You have just received an request for information from <strong>{{fullname}}</strong> at email address: <strong>{{email}}</strong>.  They have requested information for:
		<ul>
			{% for choice in grade_level_choices %}
			<li>{{choice}}</li>
			{% endfor %}
		</ul>
		<p>Date received:  {{date}}</p>
</div>