{% extends "base.html" %}
{%load static %}
{% block title %}ECS{% endblock %}
{% block content %}
<section id="wrapper" class="login-register">
	<div class="side-box">
		<div class="inner-box">
			<div class="landing">		
				<div id="typed-strings">
					<span>Computer Science</span>
					<p>Technology</p>
					<p>Graphic Design</p>
					<p>Computer Science</p>
				</div>
				<h3><span style="font-size:15px;color:#fff">A</span> <span style="background-color:#000">&nbsp;Comprehensive&nbsp;</span></h3>
				<h1><span id="typed" style="white-space:pre;"></span></h1>
				<h2>Curriculum <span style="font-size:15px;color:#fff">for</span> Schools</h2>
				<div style="width: 100%;height:30px"></div>
				<a href="{% url 'request_info' %}">Learn More</a>
			</div>
		</div>
	</div>
	<div class="login-box login-sidebar">
		<div class="white-box">
		<img src="{% static "images/engcs.png" %}" alt="Home">  
		<div class="form-group m-t-40">
			<div class="col-xs-12">
				<div class="login-form">
					<div class="login-form-pad"></div>
						{% if login_error %}
	 					<p style="color: red;">
						{{ login_error }}
						</p>
						{% endif %}
					<form action="{% url 'mainpage' %}" method="post" class="form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
 						<div class="form-group floating-label">
 							<input class="form-control" type="email" name="email_address" required id="id_email_address">
                            <label for="id_email_address">Email Address</label>
                        </div> 
 						<div class="form-group floating-label">
                            <input type="password" name="password"  maxlength="30" id="id_password" class="form-control" value="{{request.user.last_name}}" required>
                            <label for="id_password">Password</label>
                        </div> 
						{% csrf_token %}
						<div class="checkbox checkbox-styled">
							<label>
								<input type="checkbox" value="">
								<span>Remember Me</span>
							</label>
							<span style="float:right;padding-top: 5px">
								<div class="reset-pwd"><i class="fa fa-lock" style="font-size:13px"></i>&nbsp;&nbsp;Forgot pwd?</div>
							</span>
						</div>
						<div class="form-group">
                             <input type="submit" value="Log In" class="btncus">     
                        </div>
					</form>
					<div class="col-sm-12 text-center">
						<div class="signup">Have a class code? <a id="landing">Register</a></div> 
					</div>
				</div> 
				<div class="signup-form">
					<div class="login-form-pad"></div>
					<form id="student-register-form" action="." submit-url="/accounts/register-student/" success-url="/students/student-dashboard/" method="post" class="form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
						<div class="alert alert-danger hidden" id="register-error">
                			<strong>{{ error|escape }}</strong>
            			</div>
 						<div class="form-group floating-label">
 							<input class="form-control" type="email" name="email" maxlength="254" autofocus="" required="" id="id_email">
 							<label for="id_email">Email Address</label>
                        </div> 
 						<div class="form-group floating-label" style="float:left; width:45%!important">
 							<input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name">
 							<label for="id_first_name">First Name</label>
                        </div>
 						<div class="form-group floating-label" style="float:right; width:45%!important">
 							<input class="form-control" type="text" name="last_name" maxlength="30" id="id_last_name">
 							<label for="id_last_name" >Last Name</label>
                        </div> 
 						<div class="form-group floating-label" style="clear: both">
 						 	<input class="form-control" type="password" name="password1" required="" id="id_password1">
 							<label for="id_password1">Password</label>
                        </div> 
 						<div class="form-group floating-label"> 							
 							<input class="form-control" type="password" name="password2" required="" id="id_password2">
 							<label for="id_password2">Confirm Password</label>
                        </div> 
 						<div class="form-group floating-label">
 							<input class="form-control" type="text" name="class_code" required="" id="id_class_code">
 							<label for="id_class_code">Class Code</label>
                        </div> 
						<div class="form-group">
							{% csrf_token %}
                             <input type="submit" value="Register" class="btncus"> 
                        </div>
					</form>
					<div class="col-sm-12 text-center">
						<div class="login">Already registered? <a id="landing">Log In</a></div> 
					</div>
				</div> 	
				<div class="reset-form">
					<div class="login-form-pad"></div>
					<form action="{% url 'password_reset' %}" method="post" class="form" role="form" enctype="multipart/form-data" class="form-horizontal form-material">
 						<div class="form-group floating-label">
 							<input class="form-control" type="email" name="email_address" required id="id_email">
                            <label for="id_email">Email Address</label>
                        </div> 
						<div class="form-group">
							{% csrf_token %}
                             <input type="submit" value="Reset" class="btncus">     
                        </div>
					</form>
					<div class="col-sm-12 text-center">
						<div class="login">Remember it? <a id="landing">Log In</a></div> 
					</div>
				</div> 	
				<div class="join-form">
					<div class="login-form-pad"></div>
					<!--Moved Internal-->
					<div class="col-sm-12 text-center">
						<div class="login"><a id="landing">Cancel</a></div> 
					</div>
				</div> 
				</div>	
			</div>
		</div>
	</div>
</section>
<style media="screen" type="text/css">

.body_bg{
  background-image: url("{% static "images/astro.jpg" %}");
  background-size: 100%;
/*  background-image: linear-gradient(#007385, #07b2ba);*/
 }
</style>
{% endblock %}
