{% extends "base1.html" %}
{% block title %}My Classes{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
        </ol>
    </div>
    <div class="section-body">
    	<div class="row"><!--start .row -->
			<!-- BEGIN CARD CONTENT -->

			<div class="col-sm-3">
				<div class="card " >	
					<a href="{% url 'manage_unit_list' %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-tasks" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					Manage Units			
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card " >	
					<a href="{% url 'unit_create' %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-plus" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					Create Units			
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card " >	
					<a href="{% url 'teacher_registration' %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-user-plus" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					Add Teacher			
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="card " >	
					<a href="{% url "postman:inbox" %}" style="text-decoration: none">
					<div class="card-body card-hover small-padding text-center">
					<div style="height:20px;"></div>
					<i class="fa fa-envelope" style="font-size:50px;"></i>
					<div style="height:10px;"></div>
					My Messages			
					<div style="height:14px;"></div>
					</div>
					</a>
				</div>
			</div>
		</div><!--end .col -->
	</div>
</section>
{% endblock %}