{% extends "base1.html" %}
{% load static %}
{% block title %}Sign up{% endblock %}
{% block content %}
	<section style="padding: 0 24px 24px 24px">
		<div class="section-body">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-head card-head-sm style-primary">
						<header>Register Teacher</header>
						</div><!--end .card-head -->
						<div class="card-body">
							<h4>Enter the details to create an account:</h4>
							<form class="form" id="registerTeacherForm" submit-url="/accounts/register-teacher/" action="" method="post">
								{% csrf_token %}
                                    <div class="form-group floating-label">
                                        {{form.email}}
                                        <label for="{{form.email.input}}"> {{form.email.label}}</label>
                                    </div>
                                    <div class="form-group floating-label">
                                        {{form.first_name}}
                                        <label for="{{form.first_name.input}}"> {{form.first_name.label}}</label>
                                    </div>
                                    <div class="form-group floating-label">
                                        {{form.last_name}}
                                        <label for="{{form.last_name.input}}"> {{form.last_name.label}}</label>
                                    </div>
                                    <div class="form-group floating-label">
                                        {{form.password1}}
                                        <label for="{{form.password1.input}}"> {{form.password1.label}}</label>
                                    </div>
                                    <div class="form-group floating-label">
                                        {{form.password2}}
                                        <label for="{{form.password2.input}}"> {{form.password2.label}}</label>
                                    </div>
                                    <br>
                                    {{form.school.label_tag}}
                                    {% for each in form.school %}
                                    <div class="checkbox checkbox-styled">
										<label>
										{{each.tag}}
											<span>{{each.choice_label}}</span>										
									</label>
									</div>
									{% endfor %}
									<br>
									{{form.grades_taught.label_tag}}
                                    {% for grade in form.grades_taught %}
                                    <div class="checkbox checkbox-styled">
										<label>
										{{grade.tag}}
											<span>{{grade.choice_label}}</span>										
									</label>
									</div>
									{% endfor %}
									<br>
									{{form.subjects_taught.label_tag}}
                                    {% for subject in form.subjects_taught %}
                                    <div class="checkbox checkbox-styled">
										<label>
										{{subject.tag}}
											<span>{{subject.choice_label}}</span>										
									</label>
									</div>
									{% endfor %}
									<br>
								<p><input type="submit" value="Create teacher account" class="btn btn-primary"></p>
							</form>
						</div>
						<!-- Begin Modal  -->
						<div class="modal fade" id="addTeacher" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="formModalLabel">Add Teacher Status:</h4>
									</div>
									<div class="modal-body">
										<span class="statusMessage" style="color:red;"></span>
									</div>
									<div class="modal-footer">
										<div class="cansub">
											<input id="addAnother" type="submit" data-dismiss="modal" name="cancel" value="Add another teacher" class="btn btn-flat btn-default ink-reaction">
											<input id="cansub_main" type="submit" action="" value="Quit" class="btn btn-flat btn-default ink-reaction">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Modal -->
						<!-- Begin Modal  -->
						<div class="modal fade" id="addTeacherError" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="formModalLabel">Add Teacher Status:</h4>
									</div>
									<div class="modal-body">
										<span class="errorMessage" style="color:red;"></span>
									</div>
									<div class="modal-footer">
										<div class="cansub">
											<input id="addAnotherError" type="submit" data-dismiss="modal" name="cancel" value="Okay" class="btn btn-flat btn-default ink-reaction">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Modal -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<!-- Script to handle teacher registration -->
	<script>
		$(document).ready(function(){
	var $myForm = $('#registerTeacherForm');
	$myForm.submit(function(event){
	event.preventDefault();
	$('.statusMessage').empty();
	console.log('form sent');
	var $formData = $(this).serialize();
	var $thisURL = $myForm.attr('submit-url');
	$.ajax({
	method: "POST",
	url: $thisURL,
	data: $formData,
	success: handleFormResponse,
	error: handleFormError,
	})
	})
	function handleFormResponse(data, textStatus, jqXHR){
		if (data['message']){
			$('.statusMessage').append(data['message']);
			$('#addTeacher').modal('show');
		}
	}
	function handleFormError(jqXHR, textStatus, errorThrown){
		json = jqXHR['responseText'];
		JSON.parse(json, (key, value) => {
			$('.errorMessage').append(value);
			$('#addTeacherError').modal('show');
			});
	}
	})
	</script>
	<script type="text/javascript">
	$('#addAnother').click(function() {
		$('#registerTeacherForm')[0].reset();
	});
	$('#cansub_main').click(function() {
		window.location.replace('/unit/mine/')
	});
	</script>
	<!-- <script type="text/javascript">
			window.location.replace($myForm.attr('success-url')
	</script> -->
{% endblock %}