{% extends "base1.html" %}
{% block title %}{{assignment.title}}{% endblock %}
{% block content %}
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            {% if classroom %}
                <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
                <li><a href="{%url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
                <li><a href="{% url "assignment_list" classroom.id %}">Assignments</a></li>
                <li>{{assignment.title}}</li>
            {% endif %}  
        </ol>
    </div>
    <div class="section-body">
        <div class="row">   
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head card-head-sm style-primary">
                        <header>{{assignment.title}}</header>
						<div class="tools">
						{% if request.user.is_teacher %}
							<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-gear"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
								<li><a href="{% url "update_assignment" assignment.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Assignment</a></li>
								<li><a href="{% url "delete_assignment" assignment.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Assignment</a></li>
							</ul>
						{% endif %}
						</div>
                    </div><!--end .card-head -->
					<div class="card-head">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#">OVERVIEW</a></li>
							<li><a href="{% url "student_submissions" assignment.id %}">VIEW SUBMISSIONS</a></li>
							{% if request.user.is_teacher %}
							<a style="float:right; z-index:999" href="{% url "update_assignment" assignment.id %}"><button style="position:absolute; top:23px;right:22px;background-color:#50bebb;" type="button" data-toggle="tooltip" data-placement="left" title="" data-original-title="Edit Assignment" class="btn ink-reaction btn-floating-action btn-md"><i style="color:#fff" class="fa fa-edit"></i></button></a>
							{% endif %}
						</ul>
					</div><!--end .card-head -->
                    <div class="card-body">   

                		<div class="override">
	                    	{{assignment.description|safe}}

							{% for file in assignment.files.all %}
							{{file.filename}}
								{% if request.user.is_student %}
								<p><a href="{{file.file.url}}" class="button" download>Download file</a></p>
								{% endif %}
							{% endfor %}

							{% if request.user.is_student %}
								{% if assignment.allow_upload is True %}
									<form action="{% url 'submit_assignment' assignment.id classroom_id %}" method="post" enctype="multipart/form-data">
										{% csrf_token %}
									    {{ form.as_p }}
									    <input type="submit" value="Submit Assignment" />
									</form>
									<div>
										{% if submission %}
										{% for file in submission.files.all %}
										{{ file.filename}}
										<p>Submitted on: {{file.submission_date}}</p>
										{% endfor %}
										{% endif %}
									</div>
								{% endif %}
							{% endif %}
						</div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->      
        </div>
    </div>  
</section>  
{% endblock %}