{% extends "base1.html" %}
{% block title %}Edit {{assignment.title}}{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <style type="text/css">
    #cke_id_description{
    width: 100% !important;
    overflow: hidden;
    }
    </style>
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            {% if classroom %}
                <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
                <li><a href="{%url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
                <li><a href="{% url "assignment_list" classroom.id %}">Assignments</a></li>
                <li class="active">Edit {{assignment.title}}</li>
            {% endif %}  
        </ol>
    </div>
    <div class="section-body">
        <div class="row">   
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head card-head-sm style-primary">
                        <header>Edit {{assignment.title}}</header>
						<div class="tools">
						{% if request.user.is_teacher %}
							<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-gear"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
								<li><a href="{% url "update_assignment" assignment.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Assignment</a></li>
								<li><a href="{% url "delete_assignment" assignment.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Assignment</a></li>
							</ul>
						{% endif %}
						</div>
                    </div><!--end .card-head -->
                    <div class="card-body">   
                		<form class="form" action="" method="post">
							{% csrf_token %}
							{{form.media}}
                            <div class="form-group floating-label">
                            <input type="text" class="form-control static dirty" name="title" value="{{form.title.value}}" maxlength="200" required="" id="id_title">
                            <label for="id_title">{{ form.title.label }}</label>
                            </div>

                            <div class="form-group">
                            <div class="form-group floating-label">
                            <label for="id_description">{{ form.description.label }}</label>
                            </div>						    
                            {{form.description}}
                            </div>
						     <div class="cansub">
					  			<input type="submit" action="{% url 'update_assignment' assignment.id %}" name="cancel" value="Cancel" class="btn-font btn-flat btn-default ink-reaction">
					  			<input id="cansub_main" type="submit" action="" value="Update" class="btn-font btn-flat btn-default ink-reaction">
				  			</div>
						</form>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->      
        </div>
    </div>  
</section>  
{% endblock %}