{% extends "base1.html" %}
{% block content %}
<section>
	<div class="section-header">
	    <ol class="breadcrumb">
	        <li><a href="/">Dashboard</a></li>
	        <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
	        <li><a href="{% url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
	        <li class="active">Assignments</li>
	    </ol>
	</div>
	<div class="section-body">
		<div class="row">	

			<div class="col-lg-12">
				<div class="card">
					<div class="card-head card-head-sm style-primary">
						<header>{{classroom.title}}</header>
						<div class="tools">
						{% if request.user.is_teacher %}
							<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-gear"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
								<li class="joiner1">Join Code: <span id="copyjoincode">{{ classroom.class_code }}</span></li>
								<li class="divider"></li>
								<li><a class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyjoincode"><span class="fa fa-key"></span> &nbsp;Copy Join Code</a></li>
								<li><a href="{% url "update_class" classroom.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Class</a></li>
								<li><a href="{% url "delete_class" classroom.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Class</a></li>
							</ul>
						{% endif %}	
						</div>		
					</div><!--end .card-head -->
					<div class="card-head">
						<ul class="nav nav-tabs">
							<li><a href="{% url 'class_detail' classroom.id %}">UNITS</a></li>
							<li class="active"><a href="{% url "assignment_list" classroom.id %}">ASSIGNMENTS</a></li>
							{% if request.user.is_teacher %}
							<li><a href="{% url "student_list" classroom.id %}">STUDENTS</a></li>
							<li><a href="{% url "update_assignment_categories" classroom.id %}">WEIGHTS</a></li>
							<a style="float:right; z-index:999" href="{% url "create_assignment" classroom.id %}"><button style="position:absolute; top:23px;right:22px;background-color:#50bebb;" type="button" data-toggle="tooltip" data-placement="left" title="" data-original-title="Create New Assignment" class="btn ink-reaction btn-floating-action btn-md"><i style="color:#fff" class="fa fa-plus"></i></button></a>
							{% endif %}
						</ul>
					</div><!--end .card-head -->
					<div class="card-body tab-content">
						<div class="tab-pane" id="first1">						
						</div>
						<div class="tab-pane active" id="second1" style="margin-top: -9px">				
							{% for category in classroom.assignment_categories.all %}  
							<h2 class="mod-title"><span style="font-size:16px;color:#50bebb!important">{{category.title}}</span> <span style="float:right; font-size:10px; padding-top:20px"><a href="{% url "update_assignment_categories" classroom.id %}" style="text-decoration: none">{{category.weight}}% of Total</a></span></h2>
							<hr class="hr-title">
								{% for assignment in classroom.assignments.all %}
									{% if assignment.category == category.title %}
										<a href="{% url 'assignment_detail' assignment.id %}" style="text-decoration: none;">
											<div class="card unit-card" >
												<div class="card-body big-padding text-left">
													<div class="row">
														<div class="col-lg-7">
															{{ assignment.title }}
														</div>
														<div class="col-lg-3 text-right">
															<span style="color:#aaa">Due: {{ assignment.due_date }}</span>
														</div>


														<div class="col-lg-2 text-right">
															{% if request.user.is_teacher %}
															<a style="margin-right:20px" href="{% url 'assignment_detail' assignment.id %}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View Assignment"><span class="fa fa-eye" style="font-size:15px"></span></a>
															<a style="margin-right:20px" href="{% url "student_submissions" assignment.id %}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View Student Submissions"><span class="fa fa-paperclip" style="font-size:15px"></span></a>
															<a href="{% url "update_assignment" assignment.id %}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit Assignment"><span class="fa fa-edit" style="font-size:15px"></span></a>
															{% else %}
															<a href="{% url 'assignment_detail' assignment.id %}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View Assignment"><span class="fa fa-eye" style="font-size:15px"></span></a>

															{% endif %}
														</div>
													</div>
												</div>
											</div>
										</a>
									{% endif %}
								{% endfor %}
							{%endfor%}			
						</div>
						<div class="tab-pane" id="third1">										
						</div>				
					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->		
		</div>
	</div>  
</section>
{% endblock %}