{% extends "base1.html" %}
{% load static %}
{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<section style="margin-top: -24px">
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
            <li><a href="{% url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
            <li class="active">Weights</li>
        </ol>
    </div>
    <div class="section-body">
        <div class="row">   
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head card-head-sm style-primary">
                        <header>{{ classroom.title }}</header>
                        <div class="tools">
                        {% if request.user.is_teacher %}
                            <button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-gear"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
                                <li class="joiner1">Join Code: <span id="copyjoincode">{{ classroom.class_code }}</span></li>
                                <li class="divider"></li>
                                <li><a class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyjoincode"><span class="fa fa-key"></span> &nbsp;Copy Join Code</a></li>
                                <li><a href="{% url "update_class" classroom.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Class</a></li>
                                <li><a href="{% url "delete_class" classroom.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Class</a></li>
                            </ul>
                        {% endif %}
                        </div>      
                    </div><!--end .card-head -->
                    <div class="card-head">
                        <ul class="nav nav-tabs">
                            <li><a href="{% url 'class_detail' classroom.id %}">UNITS</a></li>
                            <li><a href="{% url "assignment_list" classroom.id %}">ASSIGNMENTS</a></li>
                            {% if request.user.is_teacher %}
                            <li><a href="{% url "student_list" classroom.id %}">STUDENTS</a></li>
                            <li class="active"><a href="{% url "update_assignment_categories" classroom.id %}">WEIGHTS</a></li>
                            {% endif %}
                        </ul>
                    </div><!--end .card-head -->
                    <div class="card-body tab-content">
                        <div class="tab-pane active">  
                                         
                            <form action="" method="post" id="" class="form" role="form" class="form-horizontal form-material">

                            {% csrf_token %}
                            <fieldset>
                                {% if error %}
                                    <p style="color: red;">
                                        {{ error }}
                                    </p>
                                {% endif %}
                                
                                {{form.management_form}}

                                {% for category in form %}
                                {{category.id}}
                                <table>
                                   <div class="link-formset">                        
                                        <div class="card unit-card" >
                                            <div class="card-body big-padding text-left">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group floating-label">
                                                        {{ category.title }}
                                                        <label for="{{category.title.input}}">Category Title</label> 
                                                        </div>
                                                    </div>
                                        <div class="col-md-3">
                                            <div class="form-group floating-label">
                                                {{category.weight}}
                                                <label for="{{category.weight.input}}">Weight</label> 
                                            </div> 
                                        </div>
                                                    <div class="col-lg-1 text-right">
                                                        <a class="delete-row" href="javascript:void(0)"><span class="fa fa-trash" style="font-size:15px"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                    </div>
                                </table>
                                {% endfor %}
                                <div class="cansub">
                                    <input type="submit"  onclick="window.history.go(-1); return false;" name="cancel" value="Cancel" class="btn-font btn-flat btn-default ink-reaction">
                                    <input id="cansub_main" type="submit" action="" value="Update" class="btn-font btn-flat btn-default ink-reaction">
                                </div> 
                            </form>
                            <script>
                                $('.link-formset').formset({
                                    deleteText: '',
                                    addText: ''
                                });
                                $(".add-row").addClass("btn btn-add-row ink-reaction btn-floating-action btn-md");
                                $(".add-row").attr('data-toggle','tooltip');
                                $(".add-row").attr('data-placement','left');
                                $(".add-row").attr('data-original-title','Create New Category');
                                $(".add-row").css({'background-color':'#50bebb'});
                                $(".add-row").append('<i class="fa fa-plus" style="color:#fff;"></i>');
                            </script>                    
                        </div>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->      
        </div>
    </div>  
</section>
{% endblock %}