{% extends "base1.html" %}
{% load classroom_custom_tags %}
{% load static %}
{% block content %}
    <style type="text/css">
    #cke_id_description{
    width: 100% !important;
    overflow: hidden;
    }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <!-- Page Content -->
    <!-- BEGIN CONTENT-->
    <section style="padding: 0 24px 24px 24px">
        <div class="section-header">
            <ol class="breadcrumb">
                <li><a href="/">Dashboard</a></li>
                {% if classroom %}
                    <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
                    <li><a href="{%url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
                    <li>Create Assignment</li>
                {% else %}
                    <li>Create Assignment</li>
                {% endif %}
            </ol>
        </div>
        <div class="section-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-head card-head-sm style-primary">
                        <header>Create Assignment</header>
                        <div class="tools">
                            {% if request.user.is_teacher %}
                                
                            {% endif %}
                        </div>
                        </div><!--end .card-head -->
                        <div class="card-body">
                            {{ form.media }}
                            <form action="" class="form" method="post" enctype="multipart/form-data" class="form form-horizontal form-material">
                                {% csrf_token %}
                                <table>
                                    <div class="form-group floating-label">
                                        {{form.title}}
                                        <label for="id_title"> {{form.title.label}}</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="note-editor">
                                            <label for="id_description">{{form.description.label}}</label>
                                            <p></p>
                                            {{form.description}}
                                            
                                        </div>
                                    </div>
                                    <div class="form-group floating-label">
                                        {{form.maximum_points}}
                                        <label for="id_maximum_points"> {{form.maximum_points.label}}</label>
                                    </div>
                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            {{form.allow_upload}}
                                            <span><label for="id_allow_upload">{{form.allow_upload.label}}</label></span>
                                        </label>
                                    </div>
                                    <div class="form-group floating-label">
                                        {{form.due_date.label}}
                                        {{form.due_date}}
                                    </div>
                                    <div class="form-group floating-label">
                                        {{form.category.label}}
                                        {{form.category}}
                                    </div>
                                    {{file_upload_form.management_form}}
                                    {% for upload_form in file_upload_form %}
                                        <div class="link-formset">
                                            {{ upload_form.as_p }}
                                        </div>
                                    {% endfor %}
                                    
                                    <p>
                                        <label>Assign to other classes:</label>
                                    </p>
                                    <ul id="id_assign_to_other_classes" class="list-unstyled">
                                        {% for classroom in other_classes %}
                                            <li>
                                                
                                                <div class="checkbox checkbox-styled">
                                                    <label>
                                                        <input type="checkbox"  name="assign_to_other_classes" value="{{classroom.id}}" id="{{classroom.title|make_label_id}}">
                                                        <span><label for="{{classroom.title|make_label_id}}">{{classroom.title}}</label></span>
                                                    </label>
                                                </div>
                                                
                                                <div class="form-input">
                                                    <label for="datetime-picker">Due date:</label>
                                                    <div class="input-append date form_datetime input-group">
                                                        <input type="text" name="{{classroom.id}}"  id ="datetime-picker" class="form-control">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                                    </div>
                                                </div>
                                                
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </table>
                                <!--<input type="submit" value="Create" />-->
                                <div class="cansub">
                                    <input type="submit" data-dismiss="modal" name="cancel" value="Cancel" class="btn btn-flat btn-default ink-reaction">
                                    <input id="cansub_main" type="submit" action="" value="Create" class="btn btn-flat btn-default ink-reaction">
                                </div>
                            </form>
                            </div><!--end .card-body -->
                            </div><!--end .card -->
                            </div><!--end .col -->
                        </div>
                    </div>
                </section>
                <script>
                $('.link-formset').formset({
                formTemplate: null,
                added: null,
                deleteText: 'Remove File',
                addText: 'Add File'
                });
                </script>
                <script type="text/javascript">
                $(".form_datetime").datetimepicker({
                format: "yyyy-m-dd hh:ii",
                autoclose: true,
                todayBtn: true,
                startDate: "2013-02-14 10:00",
                minuteStep: 5,
                showMeridian: true
                });
                </script>
                <style type="text/css">
                .link-formset input[type="file"] {
                border: 1px solid transparent;
                white-space: nowrap;
                padding: 4.5px 14px;
                font-size: 14px;
                cursor: pointer !important;
                }
                </style>
            {% endblock %}