{% extends "base1.html" %}
{% block title %}{{classroom.title}}{% endblock %}
{% block content %}
<!-- Page Content -->
<!-- BEGIN CONTENT-->
<section>
	<div class="section-header">
	    <ol class="breadcrumb">
	        <li><a href="/">Dashboard</a></li>
	        <li><a href="/">My Classes</a></li>
	        <li class="active">{{classroom.title}}</li>
	    </ol>
	</div>
	<div class="section-body">
		<div class="row">	
			<div class="col-lg-12">
				<div class="card tabs-below">
					<div class="card-head card-head-sm style-primary">
						<header>{{classroom.title}}</header>
						<div class="tools">
						{% if request.user.is_teacher %}
							<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-gear"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
								<li class="joiner1">Join Code: <span id="copyjoincode">{{ classroom.class_code }}</span></li>
								<li class="divider"></li>
								<li><a class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyjoincode"><span class="fa fa-key"></span> &nbsp;Copy Join Code</a></li>
								<li><a href="{% url "update_class" classroom.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Class</a></li>
								<li><a href="{% url "delete_class" classroom.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Class</a></li>
							</ul>
						{% endif %}
						</div>
					</div><!--end .card-head -->
					<div class="card-head">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#first1">UNITS</a></li>
							<li><a href="{% url "assignment_list" classroom.id %}">ASSIGNMENTS</a></li>
							{% if request.user.is_teacher %}
							<li ><a href="{% url "student_list" classroom.id %}">STUDENTS</a></li>
							<li ><a href="{% url "update_assignment_categories" classroom.id %}">WEIGHTS</a></li>
							{% endif %}
						</ul>
					</div><!--end .card-head -->
					<div class="card-body tab-content">
						<div class="tab-pane active" id="first1">						
							{% for unit in classroom.units.all %}
							{% if request.user.is_student %}
								<a href="{% url "student_unit_detail" unit.id %}?class={{classroom.id}}" style="text-decoration: none;">
									<div class="card unit-card">
										<div class="card-body big-padding text-left">
										{{ unit.title }}
										<span style="float:right;">{{ unit.modules.count }} Modules</b></span>
										</div>
									</div>
								</a>
							{% elif request.user.is_teacher %}
								<a href="{% url "teacher_unit_detail" unit.id %}?class={{classroom.id}}" style="text-decoration: none;">
									<div class="card unit-card">
										<div class="card-body big-padding text-left">
										{{ unit.title }}
										<span style="float:right;">{{ unit.modules.count }} Modules</b></span>
										</div>
									</div>
								</a>
							{% endif %}
						{% endfor %}
							{% if request.user.is_teacher %}
							<div class="join_code">Join Code: <b><span id="copyme">{{ classroom.class_code }}</span></b>&nbsp;&nbsp;&nbsp; <button class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyme">Copy to Clipboard</button>
							</div>
							{% endif %}
						</div>
					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->		
		</div>
	</div>  
</section>
{% endblock %}