{% extends "base1.html" %}
{% block content %}
<section>
	<div class="section-header">
	    <ol class="breadcrumb">
	        <li><a href="/">Dashboard</a></li>
	        <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
	        <li><a href="{% url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
	        <li class="active">Edit {{classroom.title}}</li>
	    </ol>
	</div>
	<div class="section-body">
		<div class="row">	
			<div class="col-lg-12">
				<div class="card">
					<div class="card-head card-head-sm style-primary">
						<header>Edit {{classroom.title}}</header>
						<div class="tools">
						{% if request.user.is_teacher %}
							<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-gear"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu" > 
								<li class="joiner1">Join Code: <span id="copyjoincode">{{ classroom.class_code }}</span></li>
								<li class="divider"></li>
								<li><a class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyjoincode"><span class="fa fa-key"></span> &nbsp;Copy Join Code</a></li>
								<li><a href="{% url "update_class" classroom.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Class</a></li>
								<li><a href="{% url "delete_class" classroom.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Class</a></li>
							</ul>
						{% endif %}
						</div>		
					</div><!--end .card-head -->
					<div class="card-body">		
						<form action="" method="post" class="form user-update-form" role="form" class="form-horizontal form-material">

						<!--How it should look-->
						<div class="form-group floating-label">
							{{form.title}}
							
							<label for="id_title">Class Title:</label> 
						</div> 

						<div style="width:100%; margin-bottom:3px">
							<div style="width:45%;float:left;padding-left: 1px;">Available Units:</div>
							<div style="width:45%;float:right">Units Added to Class:</div>
						</div>

						<!-- <div class="ms-container" id="ms-id_units"><div class="ms-selectable"><ul class="ms-list" tabindex="-1"><li class="ms-elem-selectable" id="53-selectable"><span>Mobile Apps with Python II</span></li><li selected="" class="ms-elem-selectable ms-selected" id="49-selectable" style="display: none;"><span>Mobile Apps with Python I</span></li></ul></div><div class="ms-selection"><ul class="ms-list" tabindex="-1"><li class="ms-elem-selection" id="53-selection" style="display: none;"><span>Mobile Apps with Python II</span></li><li selected="" class="ms-elem-selection ms-selected" id="49-selection" style=""><span>Mobile Apps with Python I</span></li></ul></div></div> -->
						<!--How it should look-->





							<div class="row">
								<div class="col-sm-12">
										{% csrf_token %}
									<div class="form-group floating-label">
										{{form.units}}
									</div>
								</div>
							</div>

						<div style="width:100%; margin-bottom:3px">
							<div style="width:45%;float:left;padding-left: 1px;">Students to be removed:</div>
							<div style="width:45%;float:right">Current Students:</div>
						</div>

							<div class="row">
								<div class="col-sm-12">
										{% csrf_token %}
									<div class="form-group floating-label">
									    {{ form.students }}
									</div>
								</div>
							</div>

							<div class="cansub">
								<input type="submit" name="cancel" action="" value="Cancel" class="btn-font btn-flat btn-default ink-reaction">
								<input id="cansub_main" type="submit" action="{% url 'class_detail' classroom.id %}" value="Update" class="btn-font btn-flat btn-default ink-reaction">
							</div>
						</form>		
							
					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->		
		</div>
	</div>  
</section>
{% endblock %}