{% extends "base1.html" %}
{% load static %}



{% block content %}
<!--  <div id="documentId">{{file.file.url}}</div>
{% if request.user %}
 <div id="documentId">{{file.file.url}}</div>
{% else %}
  documentId = null;
{% endif %} -->
{{file.pdf_file.url}}
<iframe src="/static/js/ViewerJS/index.html#{{file.pdf_file.url}}" id = "pdf" style="width:90%; height:100vh;" frameborder="10"></iframe>
{% endblock %}