{% extends "base1.html" %}
{% block title %}Submissions{% endblock %}
{% block content %}
<!-- BEGIN CONTENT-->
<section>
    <div class="section-header">
        <ol class="breadcrumb">
            <li><a href="/">Dashboard</a></li>
            {% if classroom %}
                <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
                <li><a href="{%url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
                <li><a href="{% url "assignment_list" classroom.id %}">Assignments</a></li>
                <li>Submissions</li>
            {% endif %}  
        </ol>
    </div>
    <div class="section-body">
        <div class="row">   
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-head card-head-sm style-primary">
                        <header>Submissions - {{assignment.title}}</header>
                  <div class="tools">
                  {% if request.user.is_teacher %}
                     <button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
                     <span class="fa fa-gear"></span>
                     </button>
                     <ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
                        <li><a href="{% url "update_assignment" assignment.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Assignment</a></li>
                        <li><a href="{% url "delete_assignment" assignment.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Assignment</a></li>
                     </ul>
                  {% endif %}
                  </div>
                    </div><!--end .card-head -->
                  <div class="card-head">
                    <ul class="nav nav-tabs">
                      <li ><a href="{% url 'assignment_detail' assignment.id %}">OVERVIEW</a></li>
                      <li class="active"><a href="#">VIEW SUBMISSIONS</a></li>
                    </ul>
                  </div><!--end .card-head -->
                    <div class="card-body">   
                      <table style="font-size: 12px;" class="table table-condensed no-margin">
                      <thead>
                        <tr>
                           <th>Student</th>
                           <th>File(s)</th>
                           <th>View</th>
                           <th>Date Submitted</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for submission in assignment.submissions.all %}   
                        <tr>
                           <td>{{submission.student}}</td>
                           {% if submission.files %}
                           <td style="width:30%">{% for file in submission.files.all %}{{file.filename}}<br>{% endfor %}</td>

                           <td style="width:20%">{% for file in submission.files.all %}
                            <a href="{{file.file.url}}" target="_blank" style="text-decoration: none" data-toggle="tooltip" data-placement="left" title="" data-original-title="Download" download><span class="title">&nbsp;&nbsp;&nbsp;<i class="fa fa-download" style="font-size:14px;vertical-align: middle;"></i></span></a>

                            <a href="{% url "file_annotate" classroom.id file.id %}" style="text-decoration: none" target="_blank" title="View"><span class="title">&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link" style="font-size:13px;vertical-align: middle;"></i></span></a><br>{% endfor %}
                          </td>

                           <td>{% for file in submission.files.all %}{{file.submission_date}}<br>{% endfor %}</td>
                           {% endif %}
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                      </table>
                    </div><!--end .card-body -->
                </div><!--end .card -->
            </div><!--end .col -->      
        </div>
    </div>  
</section>  
{% endblock %}
