{% extends "base1.html" %}
{% block title %}Students{% endblock %}
{% block content %}
<!-- BEGIN CONTENT-->
<section>
	<div class="section-header">
	    <ol class="breadcrumb">
	        <li><a href="/">Dashboard</a></li>
	        <li><a href="{%url 'teacher_classroom_list'%}">My Classes</a></li>
	        <li><a href="{% url 'class_detail' classroom.id %}">{{classroom.title}}</a></li>
	        <li class="active">Students</li>
	    </ol>
	</div>
	<div class="section-body">
		<div class="row">	

			<div class="col-lg-12">
				<div class="card">
					<div class="card-head card-head-sm style-primary">
						<header>{{classroom.title}}</header>
						<div class="tools">
						{% if request.user.is_teacher %}
							<button type="button" class="btn btn-default-dark dropdown-toggle" data-toggle="dropdown">
							<span class="fa fa-gear"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right animation-dock" role="menu"> 
								<li class="joiner1">Join Code: <span id="copyjoincode">{{ classroom.class_code }}</span></li>
								<li class="divider"></li>
								<li><a class="copy-letter-button" data-clipboard-action="copy" data-clipboard-target="#copyjoincode"><span class="fa fa-key"></span> &nbsp;Copy Join Code</a></li>
								<li><a href="{% url "update_class" classroom.id %}"><span class="fa fa-edit"></span> &nbsp;Edit Class</a></li>
								<li><a href="{% url "delete_class" classroom.id %}"><span class="fa fa-trash"></span> &nbsp;Delete Class</a></li>
							</ul>
						{% endif %}	
						</div>		
					</div><!--end .card-head -->
					<div class="card-head">
						<ul class="nav nav-tabs">
							<li><a href="{% url 'class_detail' classroom.id %}">UNITS</a></li>
							<li><a href="{% url "assignment_list" classroom.id %}">ASSIGNMENTS</a></li>
							{% if request.user.is_teacher %}
							<li class="active"><a href="{% url "student_list" classroom.id %}">STUDENTS</a></li>
							<li><a href="{% url "update_assignment_categories" classroom.id %}">WEIGHTS</a></li>
							{% endif %}
						</ul>
					</div><!--end .card-head -->
					<div class="card-body tab-content">
						<div class="tab-pane" id="first1">						
						</div>
						<div class="tab-pane active" id="second1" style="margin-top: -9px">		
							<h2 class="mod-title"><span style="font-size:16px;color:#50bebb!important">Individual View</span> <span style="float:right; font-size:10px; padding-top:20px">{{ classroom.students.count }} Student(s)</a></span></h2>
							<hr class="hr-title">
							{% for student in classroom.students.all %}
								<a href="" style="text-decoration: none;">
									<div class="card unit-card" >
										<div class="card-body big-padding text-left">
											<div class="row">
												<div class="col-lg-8">
													{{ student.user.first_name }} {{ student.user.last_name }}
												</div>										
												<div class="col-lg-2">
													<span style="color:#aaa">{{ student.user.email }}</span>
												</div>
												<div class="col-lg-2 text-right">
													<a style="margin-right:20px" href="{% url "postman:direct_write" student.user.id %}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="E-mail Student"><span class="fa fa-envelope-o" style="font-size:15px"></span></a>
													<a style="margin-right:20px" href="{% url "student_assignment_submissions" student.pk %}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View Student Submissions"><span class="fa fa-paperclip" style="font-size:15px"></span></a>
													<a href="{% url "update_class" classroom.id %}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Remove Student"><span class="fa fa-trash" style="font-size:15px"></span></a>
												</div>
											</div>
										</div>
									</div>
								</a>
							{% endfor %}		
						</div>
<!-- 						<div class="tab-pane" id="third1">										
						</div>				
						<h2 class="mod-title"><span style="font-size:16px;color:#50bebb!important">Quick Update</span> <span style="float:right; font-size:10px; padding-top:20px">asdsa</a></span></h2>
						<hr class="hr-title">
						This would have the student form from class update, but only students -->
						<form action="" method="post" class="form" role="form" class="form-horizontal form-material">
							<div class="row">
								<div class="col-sm-12">
										{% csrf_token %}
									<div class="form-group floating-label">
									    {{ form.as_p }}
									</div>
								</div>
							</div>
							<div class="cansub">
								<input type="submit" name="cancel" action="{% url 'update_class' classroom.id %}" value="Cancel" class="btn-font btn-flat btn-default ink-reaction">
								<input id="cansub_main" type="submit" action="" value="Update" class="btn-font btn-flat btn-default ink-reaction">
							</div>
						</form>		
					</div><!--end .card-body -->
				</div><!--end .card -->
			</div><!--end .col -->		
		</div>
	</div>  
</section>
{% endblock %}